/** ¹ºÎï³µ */
.List_cart {
border: 0px solid #CCC;
}
.List_cart h2 {
height: 28px;
line-height: 28px;
background: url(../images/cart_bg_05.gif) #AACDED no-repeat right top;
}
.List_cart h2 strong {
display: block;
height: 28px;
background: url(../images/cart_bg_03.gif) no-repeat left top;
padding: 0 20px;
}
.cart_table {
border: solid #AACDED;
padding: 20px 17px 0;
overflow: hidden;
border-width: 0 3px;
}
.Table {
border-collapse: collapse;
margin: 0;
padding: 0;
border: 1px #AACDED solid;
}
tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}
.align_Center {
text-align: center;
}
.align_Left {
text-align: left;
}
.align_Right {
text-align: right;
}
tr.Thead, td.Tfoot {
background: #EBF4FB;
}
.Table th, .Table td {
border: 1px #AACDED solid;
padding-left: 5px;
}
.cart_table td {
padding: 2px;
}
.cart_table .Table .align_Left {
vertical-align: middle;
}
.cart_table .Table .p-img {
float: left;
margin-right: 10px;
vertical-align: middle;
}
.cart_table .Table .p-img img {
border: 1px solid #DDD;
width: 50px;
height: 50px;
vertical-align: middle;
}
.cart_table .Table a:link, .cart_table .Table a:visited {
color: #005EA7;
text-decoration: none;
}
.cart_table .Table .price {
color: red;
font-family: verdana;
font-weight: bold;
}

.cart_table .Table .pricesum {
color: red;
font-family: verdana;
font-weight: bold;
}

.cart_op {
padding: 25px 10px;
height: 38px;
font-size: 14px;
}
.cart_op li {
line-height: 38px;
float: left;
}
.cart_op li a {
font-size: 12px;
}
.cart_op .li1 {
padding-left: 23px;
background: url(../images/cd.gif) no-repeat 7px 11px;
}
.cart_op .li2 {
padding-left: 19px;
background: url(../images/gwc_07.jpg) no-repeat 0px 9px;
margin-right: 20px;
}
.cart_op .li3 {
float: right;
}
.cart_op .li3 a {
line-height: 200px;
display: block;
height: 38px;
background: url(../images/btn0603.gif);
overflow: hidden;
float: left;
}
.cart_op .li3 .continueBuyBtn {
width: 109px;
margin-right: 5px;
}
.cart_op .li3 .gotoOrderInfo {
background-position: -110px 0;
width: 99px;
}
.cart_op .li4 {
margin-right: 18px;
}
.cart_op a.btn_storage {
-moz-background-clip: border;
-moz-background-inline-policy: continuous;
-moz-background-origin: padding;
background: transparent url(../images/btn_storage.gif) no-repeat scroll 0 0;
color: black;
cursor: pointer;
display: inline-block;
height: 21px;
line-height: 21px;
margin-right: 10px;
text-align: center;
width: 50px;
}
.List_cart .round {
height: 10px;
background: url(../images/cart_bg_11.gif) repeat-x 0 top;
}
.lround {
width: 10px;
height: 10px;
background: url(../images/cart_bg_09.gif) no-repeat left top;
float: left;
}
.rround {
width: 10px;
height: 10px;
background: url(../images/cart_bg_10.gif) no-repeat right top;
float: right;
}

.Header_cart {
width: 100%;
padding: 20px 0;
overflow: hidden;
}
.Order_cart {
width: 438px;
height: 29px;
float: left;
padding-top: 23px;
}
.Order_cart li {
float: left;
line-height: 29px;
padding-left: 8px;
font-weight: bold;
}

#Order_cart_S1 {
background: url(../images/warebuy1.jpg) no-repeat;
}
#Order_cart_S1 .step1 {
color: white;
}
.Order_cart .step1 {
width: 120px;
}
.Order_cart .step2 {
width: 155px;
}
.Order_cart .step3 {
}
#Order_cart_S2 {
background: url(../images/warebuy2.jpg) no-repeat;
}
#Order_cart_S2 .step2 {
color: white;
}
.marginb10 {
margin-bottom: 10px;
}
.cart_table {
border: solid #AACDED;
padding: 20px 17px 0;
overflow: hidden;
border-width: 0 3px;
}
.o_show, .o_write {
margin: 10px 10px 0px 10px;
border-bottom: #CCC dotted 2px;
text-align: left;
}
.o_show h1, .o_write h1 {
line-height: 150%;
font-size: 14px;
margin-bottom: 5px;
}
.o_show h1 a, .o_write h1 a {
font-size: 12px;
font-weight: 100;
color: #185D94;
}
.o_show .middle, .o_write .middle {
padding-left: 17px;
line-height: 20px;
color: #333;
}
.o_show .middle td {
line-height: 20px;
color: #404040;
}
.cart_table td {
padding: 2px;
}
.o_show .footer {
padding: 5px 5px 5px 35px;
}
input.btn {
background: #F90;
text-align: center;
line-height: 23px;
height: 23px;
padding: 0px 3px;
color: white;
font-size: 14px;
font-weight: bold;
cursor: pointer;
border: #BB4A00 solid 1px;
border-left: #FFC7A2 solid 1px;
border-top: #FFC7A2 solid 1px;
}
.cydz {
overflow: hidden;
margin-bottom: 7px;
border: #B7D2DF dotted 1px;
color: #87B4C9;
background: #F8FBFC;
padding: 5px 0 5px 10px;
width: 80%;
}
.cydz li {
width: 99%;
display: block;
margin-right: 7px;
border: #F8FBFC dotted 1px;
color: #87B4C9;
padding-left: 2px;
overflow: hidden;
}
.cydz li.xz {
color: #F8AA27;
background: #FFFAEE;
border: #F9BA53 dotted 1px;
}
.cydz td {
padding: 0px;
}
.cydz .remark {
color: gray;
}
#part_cart tr.Thead td {
background: #FFF4D7;
height: 28px;
}
#part_cart td {
border: #CCC 1px solid;
border-left: none;
border-right: none;
}
#ware_info {
background: #FFF4D7;
margin: 10px;
padding-bottom: 10px;
}
#ware_info h1 {
height: 17px;
text-align: left;
border-top: #EBCCA0 2px solid;
}
#ware_info .middle {
padding: 0px 40px;
text-align: left;
line-height: 150%;
font-size: 14px;
}
#ware_info .info1 {
border-bottom: #EBCBA0 dotted 1px;
}
.submit {
text-align: right;
padding-bottom: 10px;
}

#submit_btn .btn_submit{
	margin-top:2px;
	border:none;
	cursor:pointer;
	width:160px;
	height:53px;
	background:url(../images/submit.jpg);
}