html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
margin: 0;
padding: 0;
}
body {
font-family: "宋体",Arial,Lucida,Verdana,Helvetica,sans-serif;
font-size: 12px;
color: #333;
line-height: 150%;
background: white;
}
img {
border: none;
}
h2 {
font-size: 14px;
}
div {
display: block;
}
.m, .mt, .mc, .mb {
overflow: hidden;
zoom: 1;
}
.hide {
display: none;
}
#shortcut {
width: 100%;
height: 30px;
background: url(../images/bg_shortcut.gif) #EFEFEF repeat-x 0 -134px;
}
.w {
width: 980px;
margin: 0 auto;
zoom: 1;
}
#header {
margin-bottom: 7px;
}
#shortcut .collect {
float: left;
position: relative;
padding-left: 15px;
line-height: 30px;
}
#shortcut .collect b {
position: absolute;
top: 9px;
left: 2px;
width: 10px;
height: 10px;
overflow: hidden;
background: url(../images/bg_tit_home.gif) -130px -274px;
}
ol, ul {
list-style: none;
}
a:link, a:visited {
color: #333;
text-decoration: none;
}
a:hover {
color: #C00;
text-decoration: underline;
}
#shortcut ul {
float: right;
position: relative;
z-index: 11;
background: url(http://misc.360buyimg.com/201007/skin/df/i/bg_shortcut.gif) repeat-x 0 -134px;
height: 30px;
}
#shortcut li {
float: left;
height: 26px;
padding: 2px 10px;
background: url(../images/bg_shortcut.gif) no-repeat -260px -100px;
line-height: 26px;
font-family: "宋体";
color: #ACACAC;
}
#shortcut .fore1 {
background: none;
}
#shortcut .fore2 {
padding-left: 50px;
background: url(../images/bg_shortcut.gif) no-repeat -130px -165px;
}
#shortcut .sub {
width: 72px;
padding: 0;
}
#shortcut li dl {
overflow: hidden;
padding: 0 1px;
}
#shortcut li dt {
position: relative;
height: 26px;
padding: 2px 11px 2px 8px;
overflow: hidden;
}
#shortcut li dd {
display: none;
line-height: 20px;
padding-left: 8px;
}
#shortcut li dt b {
position: absolute;
top: 13px;
right: 3px;
width: 5px;
height: 3px;
background: url(../images/bg_shortcut.gif) no-repeat -210px -25px;
}
.clr {
display: block;
overflow: hidden;
clear: both;
height: 0;
line-height: 0;
font-size: 0;
}
.clr5{
display: block;
overflow: hidden;
clear: both;
height: 5px;
line-height: 0;
font-size: 0;
}
#logo {
position: relative;
float: left;
padding: 8px 10px 0;
margin-right: 10px;
}
#nav {
float: left;
padding-top: 35px;
position: relative;
z-index: 10;
overflow: hidden;
margin-bottom: -3px;
}

#nav .curr, #nav-index,#nav_a, #nav-extra, #nav-extra ul {
float: left;
height: 27px;
padding: 0 0 2px;
background-image: url(../images/bg_nav_0816.jpg);
background-repeat: no-repeat;
}

#nav a {
float: left;
height: 27px;
line-height: 29px;
text-decoration: none;
text-align: center;
font-size: 14px;
font-weight: bold;
}

#nav-index {
background-position: -216px -200px;
background-color: #CC0C0C;
}
#index #nav-index {
background-position: -216px -200px;
}
#nav-index a {
width: 57px;
}
#index #nav-index a {
color: black;
}

#nav_a{
	background-position: -216px -233px;
}
#index #nav_a{
	background-position: -216px -233px;
}
#nav_a a {
width: 87px;
}
#index #nav_a a {
color: white;
}

#nav-extra {
background-position: 0 -82px;
padding-left: 4px;
position: relative;
height: 29px;
padding-bottom: 0;
background-color: #CC0C0C;
}
#nav-extra ul {
float: left;
padding: 0 4px 2px 0;
background-position: right -272px;
}
#nav .curr, #nav-index, #nav-extra {
margin-right: 2px;
}
#nav-extra li {
position: relative;
z-index: 1;
float: left;
background: url(../images/bg_nav_0816.jpg) no-repeat -333px -210px;
}
#nav-extra .fore {
background: none;
}
#nav-extra .corner {
position: absolute;
top: 0;
right: 0;
width: 8px;
height: 27px;
background-position: -277px -82px;
}
#nav-pop a {
width: 81px;
padding: 0 4px 0 0;
}
#nav-extra a {
height: 27px;
padding: 0 12px;
line-height: 27px;
text-align: center;
color: #930;
}
#nav-tuan a {
width: 61px;
padding: 0;
}
#nav-auction a {
width: 75px;
padding: 0;
}
#nav-jifen a, #nav-read a, #nav-club a {
width: 89px;
padding: 0;
}
#nav-category a {
width: 81px;
padding: 0 0 0 4px;
}

#o-search {
height: 50px;
background: url(../images/bg_nav_0816.jpg) #CC0C0C repeat-x 0 -115px;
}

.allsort {
float: left;
width: 3px;
height: 50px;
margin-right: 4px;
background: url(../images/bg_nav_0816.jpg) no-repeat 0 -217px;
position: relative;
z-index: 11;
}


#search {
float: left;
width: 257px;
height: 29px;
padding: 1px 0 1px 1px;
margin: 11px 10px 0 0;
background: url(../images/bg_nav_0816.jpg) no-repeat 0 0;
}
#search {
width: 332px;
padding: 1px;
}

#i-search {
float: left;
position: relative;
width: 182px;
z-index: 6;
font-family: arial;
zoom: 1;
}
#i-search {
width: 257px;
}
#key {
width: 228px;
height: 15px;
padding: 8px 5px 6px 24px;
border: 0;
line-height: 15px;
background: none;
color: #999;
font-size: 14px;
}
#tie {
width: 257px;
}
#tie {
position: absolute;
top: 29px;
left: -1px;
width: 182px;
border: 1px solid #990005;
background: white;
overflow: hidden;
}
#btn-search {
background: none;
}
#btn-search {
width: 75px;
height: 29px;
padding: 0;
margin: 0;
border: 0;
background: url(../images/bg_nav_0816.jpg) no-repeat -258px -1px;
cursor: pointer;
font-size: 14px;
color: #C03;
font-weight: bold;
}
#hotwords {
width: 410px;
}
#hotwords {
float: left;
width: 266px;
height: 20px;
margin-top: 17px;
padding-right: 5px;
color: #FCC;
line-height: 20px;
overflow: hidden;
}
#hotwords strong {
float: left;
}
#hotwords a {
float: left;
color: #FCC;
margin-right: 10px;
white-space: nowrap;
}
#mycart {
float: right;
width: 218px;
height: 26px;
padding: 11px 8px 11px 0;
background: url(../images/bg_nav_0816.jpg) no-repeat -108px -31px;
line-height: 28px;
}
#mycart li {
float: left;
text-align: center;
}
#mycart .fore1 {
position: relative;
z-index: 20;
width: 89px;
padding: 0 25px 0 34px;
}
#mycart .fore1 b {
padding: 0 4px;
color: #066FC9;
}
#o-mycart-list {
position: absolute;
top: 20px;
left: -144px;
width: 368px;
padding-top: 10px;
}
#mycart-list {
width: 354px;
padding: 0 5px 5px;
border: 3px solid #FCD410;
background: white;
text-align: left;
}
.norecode {
color: #999;
}
.ac {
text-align: center;
}
#mycart .fore2 {
width: 54px;
padding-right: 14px;
}
#mycart .fore2 a {
color: white;
}

#brand {
position: relative;
overflow: visible;
z-index: 2;
}
#brand .mt {
height: 24px;
padding: 3px 8px;
background: url(../images/bg_tit_home.gif) #E6E6E6 no-repeat 0 -30px;
line-height: 24px;
overflow: visible;
}
#brand h2 {
float: left;
}
#brand .mc {
border: solid #E6E6E6;
border-width: 0 1px 1px;
}
#brand ul {
overflow: hidden;
width: 201px;
padding: 0 0 8px 8px;
zoom: 1;
}
#brand li {
float: left;
overflow: hidden;
width: 88px;
height: 31px;
padding: 1px;
border: 1px solid #EFEFEF;
margin: 8px 8px 0 0;
}
#brand .mc .extra {
padding: 5px 8px;
text-align: right;
}
/**布局文件*/
.left {
float: left;
width: 211px;
margin-right: 6px;
}
.right {
float: right;
width: 760px;
}




 .slider {
	width: 758px;
	height: 260px;
	clear: both;
	overflow: hidden;
	border: 1px solid #dddddd;
}

 .slider .scrollable {
	width: 758px;
	height: 260px;
	overflow: hidden;
	position: relative;
	z-index: 0;
}

 .slider .items {
	width: 20000em;
	position: absolute;
	z-index: 1;
	clear: both;
}

 .slider .scrollable .items div {
	width: 998px;
	float: left;
}

 .slider .scrollable .navi {
	height: 10px;
	margin: 0px 10px;
	position: absolute;
	z-index: 2;
	right: 50px;
	bottom: 12px;
}

 .slider .scrollable .navi a {
	width: 10px;
	height: 10px;
	float: left;
	margin-left: 5px;
	display: block;
	outline: none;
	overflow: hidden;
	background: url(../images/index_slider_navi_bg.gif) -1px -40px no-repeat;
}

 .slider .scrollable .navi a:hover {
	background-position: -1px -60px;
}

 .slider .scrollable .navi a.active {
	background-position: -1px -60px;
}

 .slider .scrollable .prevNext {
	height: 15px;
	width: 40px;
	position: absolute;
	z-index: 2;
	right: 10px;
	bottom: 10px;
	display: block;
	float: left;
}

 .slider .scrollable a.browse {
	height: 15px;
	width: 20px;
	display: block;
	float: left;
	cursor: pointer;
	overflow: hidden;
	background: url(../images/index_slider_navi_bg.gif) no-repeat;
}

 .slider .scrollable a.right {
	background-position: -21px 0px;
}

 .slider .scrollable .right:hover {
	background-position: -21px -19px;
}

 .slider .scrollable .left:hover {
	background-position: 0px -19px;
}

 .slider .scrollable a.disabled {
	visibility: hidden !important;
}


#madding .mt {
position: relative;
height: 28px;
background: url(../images/bg_tit_home.gif) #E6E6E6 repeat-x 0 -128px;
overflow: visible;
}
#madding h2 {
float: left;
width: 121px;
height: 28px;
padding: 0 10px;
background: url(../images/bg_tit_home.gif) no-repeat 0 -100px;
color: white;
line-height: 28px;
}
#madding .mt .extra {
float: right;
width: 20px;
height: 28px;
background: url(../images/bg_tit_home.gif) no-repeat -191px -156px;
}
#madding .mc{
border: solid #E6E6E6;
border-width: 0 1px 1px;
}
#madding-1 {
padding-bottom: 10px;
border-bottom: 1px solid #E2EBF4;
}

#newpros .mt {
position: relative;
height: 28px;
background: url(../images/bg_tit_home.gif) #E6E6E6 repeat-x 0 -128px;
overflow: visible;
}
#newpros h2 {
float: left;
width: 121px;
height: 28px;
padding: 0 10px;
background: url(../images/bg_tit_home.gif) no-repeat 0 -100px;
color: white;
line-height: 28px;
}
#newpros .mt .extra {
float: right;
width: 100px;
height: 28px;
padding-right: 10px;
background: url(../images/bg_tit_home.gif) no-repeat right -156px;
text-align: right;
line-height: 28px;
}
#newpros-1 {
padding-bottom: 10px;
border-bottom: 1px solid #E2EBF4;
}

#hotprod .mt {
position: relative;
height: 28px;
background: url(../images/bg_tit_home.gif) #E6E6E6 repeat-x 0 -128px;
overflow: visible;
}
#hotprod h2 {
float: left;
width: 121px;
height: 28px;
padding: 0 10px;
background: url(../images/bg_tit_home.gif) no-repeat 0 -100px;
color: white;
line-height: 28px;
}
#hotprod .mt .extra {
float: right;
width: 100px;
height: 28px;
padding-right: 10px;
background: url(../images/bg_tit_home.gif) no-repeat right -156px;
text-align: right;
line-height: 28px;
}
#hotprod-1 {
padding-bottom: 10px;
border-bottom: 1px solid #E2EBF4;
}

.p-list {
overflow: hidden;
zoom: 1;
width: 760px;
}
.p-list li {
float: left;
width: 25%;
text-align: center;
overflow: hidden;
height: 189px;
display: inline;
}
.p-img, .p-name, .p-price, .p-market {
overflow: hidden;
}
.p-img {
margin: 5px 0;
}
.p-name {
height: 22px;
overflow: hidden;
line-height: 22px;
width: 150px;
margin: 0 auto;
}
.p-img, .p-name, .p-price, .p-market {
overflow: hidden;
}

#service {
padding: 20px 20px 10px;
border: 1px solid #E6E6E6;
overflow: hidden;
zoom: 1;
margin-bottom: 10px;
}
#service .fore1 {
padding-left: 10px;
}
#service dl {
float: left;
width: 165px;
padding-left: 20px;
}
#service .fore5 {
width: 180px;
}
#footer {
padding-bottom: 30px;
text-align: center;
}
#footer .flinks a, #footer .flinks span {
margin: 0 10px;
}

.da211x90 {
width: 211px;
height: 90px;
background: whiteSmoke;
}

#advertiseleft{
position: relative;
overflow: visible;
}
#advertiseleft ul {
overflow: hidden;
width: 211px;
zoom: 1;
}
#advertiseleft li {
float: left;
overflow: hidden;
width: 211px;
height: 90px;
padding: 0px;
border: 1px solid #EFEFEF;
margin: 8px 8px 0 0;
}
.rank .mt {
height: 24px;
padding: 3px 8px;
background: url(../images/bg_tit_home.gif) #E6E6E6 repeat-x 0 -60px;
line-height: 24px;
}
.rank .mt h2 {
height: 30px;
color: #C00;
}
.rank .mc {
padding: 0 1px;
border: solid #E6E6E6;
border-width: 0 1px 1px;
}
.rank .fore {
padding: 10px 5px 10px;
height: 56px;
border-top: 1px solid #EFEFEF;
}
.rank span {
float: left;
padding: 0 8px 0 4px;
font-size: 14px;
font-weight: bold;
color: #C00;
font-family: arial;
}
.rank .fore .p-img {
float: left;
height: 50px;
margin-right: 5px;
}
.rank .fore .p-name {
width: 120px;
height: 3em;
line-height: 1.5em;
}
.rank .fore .p-price {
float: left;
height: 18px;
margin-top: 2px;
line-height: 18px;
}
.rank .fore .p-price strong {
color: #F60;
}





