.helpMainLeft {
	float: left;
	width: 170px;
}

.helpLeftTitle {
	background: url(../images/helptitlebg.gif);
	height: 17px;
	line-height: 18px;
	padding: 8px 0 5px 30px;
	position: relative;
	color: white;
	width: 140px;
	font-weight: bold;
	font-size: 14px;
	border-bottom: 0;
}

.helpLeftMenu {
	background: #FDFEFF;
	margin-top: -1px;
	overflow: hidden;
	padding: 0;
	border: 1px solid #FFC31E;
}

.helpLeftMenu .helpLeftBar {
	background-color: white;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

.helpLeftBar span {
	background: url(../images/helpnavbg.gif) repeat-x;
	display: block;
	font-size: 12px;
	font-weight: bold;
	line-height: 30px;
	padding-left: 10px;
}

.helpLeftMenu .helpLeftGroup {
	display: block;
	clear: both;
	margin: 6px 5px 10px;
}

.helpLeftMenu .helpLeftGroup li {
	display: block;
	padding: 3px 0;
}

.helpLeftMenu .helpLeftGroup li a {
	display: block;
	height: 16px;
	padding: 4px 0 2px 20px;
}

.helpLeftMenu .helpLeftGroup li a:hover {
	color: #C80002;
	text-decoration: underline;
}

.helpLeftMenu .helpLeftGroup li a.choose {
	background: url("../images/helpchooseicon.gif") 130px center no-repeat;
	color: #C80002;
}

.helpMainRight {
	float: right;
	width: 810px;
}

.helpRightTitle {
	height: 16px;
	line-height: 16px;
	width: 800px;
	font-weight: bold;
	font-size: 14px;
	padding: 8px 0 6px 10px;
	background: #FDF5DD;
	border-bottom: 1px solid #FFC31E;
	margin-bottom: 5px;
}

.helpRightTitle span {
	display: block;
	background: url(../image/helpmainicon.gif) 0 2px no-repeat;
	padding-left: 15px;
	color: #C80002;
}

.helpRightMain {
	width: 760px;
	margin: 0 auto 20px auto;
}

.helpRightMain h3 {
	padding: 10px 0 0 0;
	margin: 20px 0 5px 0;
	font-size: 14px;
}

.helpRightMain p {
	line-height: 24px;
}