html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
margin: 0;
padding: 0;
}
body {
font-family: "宋体",Arial,Lucida,Verdana,Helvetica,sans-serif;
font-size: 12px;
color: #333;
line-height: 150%;
background: white;
}
img {
border: none;
}
h2 {
font-size: 14px;
}
h5 {
font-size: 12px;
}
div {
display: block;
}
.white {	color: white;}
.black {	color: black;}
.gray {	color: gray;}
.blue {	color: blue;}
.green {	color: green;}
.red {	color: red;}
.m, .mt, .mc, .mb {
overflow: hidden;
zoom: 1;
}
.hide {
display: none;
}
#shortcut {
width: 100%;
height: 30px;
background: url(../images/bg_shortcut.gif) #EFEFEF repeat-x 0 -134px;
}
.w {
width: 980px;
margin: 0 auto;
zoom: 1;
}
.crumb {
padding: 0 5px 8px;
}
#header {
margin-bottom: 7px;
}
#shortcut .collect {
float: left;
position: relative;
padding-left: 15px;
line-height: 30px;
}
#shortcut .collect b {
position: absolute;
top: 9px;
left: 2px;
width: 10px;
height: 10px;
overflow: hidden;
background: url(../images/bg_tit_home.gif) -130px -274px;
}
ol, ul {
list-style: none;
}
a:link, a:visited {
color: #333;
text-decoration: none;
}
a:hover {
color: #C00;
text-decoration: underline;
}
#shortcut ul {
float: right;
position: relative;
z-index: 11;
background: url(../images/bg_shortcut.gif) repeat-x 0 -134px;
height: 30px;
}
#shortcut li {
float: left;
height: 26px;
padding: 2px 10px;
background: url(../images/bg_shortcut.gif) no-repeat -260px -100px;
line-height: 26px;
font-family: "宋体";
color: #ACACAC;
}
#shortcut .fore1 {
background: none;
}
#shortcut .fore2 {
padding-left: 50px;
background: url(../images/bg_shortcut.gif) no-repeat -130px -165px;
}
#shortcut .sub {
width: 72px;
padding: 0;
}
#shortcut li dl {
overflow: hidden;
padding: 0 1px;
}
#shortcut li dt {
position: relative;
height: 26px;
padding: 2px 11px 2px 8px;
overflow: hidden;
}
#shortcut li dd {
display: none;
line-height: 20px;
padding-left: 8px;
}
#shortcut li dt b {
position: absolute;
top: 13px;
right: 3px;
width: 5px;
height: 3px;
background: url(../images/bg_shortcut.gif) no-repeat -210px -25px;
}
.clr {
display: block;
overflow: hidden;
clear: both;
height: 0;
line-height: 0;
font-size: 0;
}
.clr5{
display: block;
overflow: hidden;
clear: both;
height: 5px;
line-height: 0;
font-size: 0;
}
.clr10{
display: block;
overflow: hidden;
clear: both;
height: 10px;
line-height: 0;
font-size: 0;
}
#logo {
position: relative;
float: left;
padding: 8px 10px 0;
margin-right: 10px;
}

#topad {
position: relative;
float: right;
padding: 8px 10px 0;
margin-right: 50px;
}


#o-search {
height: 50px;
background: url(../images/bg_nav_0816.jpg) #ed6f1a repeat-x 0 -115px;
}

.allsort {
float: left;
width: 3px;
height: 50px;
margin-right: 4px;
background: url(../images/bg_nav_0816.jpg) no-repeat 0 -217px;
position: relative;
z-index: 11;
}


#search {
float: left;
width: 257px;
height: 29px;
padding: 1px 0 1px 1px;
margin: 11px 10px 0 0;
background: url(../images/bg_nav_0816.jpg) no-repeat 0 0;
}
#search {
width: 332px;
padding: 1px;
}

#i-search {
float: left;
position: relative;
width: 182px;
z-index: 6;
font-family: arial;
zoom: 1;
}
#i-search {
width: 257px;
}
#goodsKeyword {
width: 228px;
height: 15px;
padding: 8px 5px 6px 24px;
border: 0;
line-height: 15px;
background: none;
color: #999;
font-size: 14px;
}
#tie {
width: 257px;
}
#tie {
position: absolute;
top: 29px;
left: -1px;
width: 182px;
border: 1px solid #990005;
background: white;
overflow: hidden;
}
#btn-search {
background: none;
}
#btn-search {
width: 75px;
height: 29px;
padding: 0;
margin: 0;
border: 0;
background: url(../images/bg_nav_0816.jpg) no-repeat -258px -1px;
cursor: pointer;
font-size: 14px;
color: #C03;
font-weight: bold;
}
#hotwords {
width: 410px;
}
#hotwords {
float: left;
width: 266px;
height: 20px;
margin-top: 17px;
padding-right: 5px;
color: #FCC;
line-height: 20px;
overflow: hidden;
}
#hotwords strong {
float: left;
}
#hotwords a {
float: left;
color: #FCC;
margin-right: 10px;
white-space: nowrap;
}
#mycart {
float: right;
width: 218px;
height: 26px;
padding: 11px 8px 11px 0;
background: url(../images/bg_nav_0816.jpg) no-repeat -108px -31px;
line-height: 28px;
}
#mycart li {
float: left;
text-align: center;
}
#mycart .fore1 {
position: relative;
z-index: 20;
width: 89px;
padding: 0 25px 0 34px;
}
#mycart .fore1 b {
padding: 0 4px;
color: #066FC9;
}
#o-mycart-list {
position: absolute;
top: 20px;
left: -144px;
width: 368px;
padding-top: 10px;
}
#mycart-list {
width: 354px;
padding: 0 5px 5px;
border: 3px solid #FCD410;
background: white;
text-align: left;
}
#mycart-list dl {
height: 60px;
overflow: hidden;
zoom: 1;
}
#mycart-list .p-img {
float: left;
width: 50px;
margin-right: 6px;
}
#mycart-list .p-name {
float: left;
width: 200px;
margin-top: 10px;
height: 40px;
line-height: 20px;
}
#mycart-list .extra {
float: right;
width: 90px;
margin-top: 10px;
height: 40px;
line-height: 20px;
text-align: right;
}
#mycart-list strong {
color: #FF2400;
}
#mycart-list .extra a {
color: #999;
}

.norecode {
color: #999;
}
.ac {
text-align: center;
}
#mycart .fore2 {
width: 54px;
padding-right: 14px;
}
#mycart .fore2 a {
color: white;
}

/**布局文件*/
.left {
float: left;
width: 211px;
margin-right: 6px;
}
.right {
float: right;
width: 760px;
}
.boxa {
zoom: 1;
position: relative;
overflow: visible;
//z-index: 2;
}
.boxa .mt {
height: 24px;
padding: 3px 8px;
background: url(../images/bg_tit_home.gif) #E6E6E6 no-repeat 0 -30px;
line-height: 24px;
overflow: visible;
}
.boxa h2 {
float: left;
}
.boxa h2 .colorred{
color: #C00;
}
.boxa .mc {
border: solid #E6E6E6;
border-width: 0 1px 1px;
}
.boxa ul {
overflow: hidden;
width: 201px;
padding: 0 0 8px 8px;
zoom: 1;
}
.boxa li {
float: left;
overflow: hidden;
width: 88px;
height: 31px;
padding: 1px;
border: 1px solid #EFEFEF;
margin: 8px 8px 0 0;
}
.boxa .mc .extra {
padding: 5px 8px;
text-align: right;
}

.boxa .mc p {
	color:#7D7D7D;
	line-height:20px;
}

span.cpyname{
	font-size: 13px;
	font-weight: bold;
}

.boxa .mc p.clrline{
	border-bottom: 1px dashed #CCC;
	line-height:5px;
	margin-bottom: 5px;
}

.boxa .mc p a:link,.boxa .mc p a:visited {
color: #999;
text-decoration: none;
}
.boxa .mc p a:hover {
color: #C00;
text-decoration: underline;
}

.padding8{
	padding: 8px;
}

#sortlist .mt {
height: 24px;
padding: 3px 8px;
background: url(../images/bg_tit_home.gif) #C40000 no-repeat 0 0;
line-height: 24px;
}
#sortlist h2 {
color: white;
}
#sortlist .mc {
width: 209px;
border: solid #C40000;
padding: 6px 0 0;
background: #FFFFF5;
border-width: 0 1px 1px;
}
#sortlist .item {
padding: 0 2px;
}
#sortlist h3 {
height: 16px;
padding: 3px 6px;
margin-bottom: 2px;
line-height: 15px;
color: #C30;
}
#sortlist h3 a {
color: #C30;
}
#sortlist ul {
padding: 6px 0 6px 6px;
overflow: hidden;
zoom: 1;
}
#sortlist .current ul {
display: block;
}
#sortlist li {
float: left;
width: 95px;
height: 18px;
padding: 3px 4px 3px 0;
overflow: hidden;
}
	

div.hotprod .mt {
position: relative;
height: 28px;
background: url(../images/bg_tit_home.gif) #E6E6E6 repeat-x 0 -128px;
overflow: visible;
}
div.hotprod h2 {
float: left;
width: 121px;
height: 28px;
padding: 0 10px;
background: url(../images/bg_tit_home.gif) no-repeat 0 -100px;
color: white;
line-height: 28px;
}
div.hotprod .mt .extra {
float: right;
width: 100px;
height: 28px;
padding-right: 10px;
background: url(../images/bg_tit_home.gif) no-repeat right -156px;
text-align: right;
line-height: 28px;
}

div.hotprod .mc {
/*border: solid #E6E6E6;
border-width: 0 1px 1px;*/
}

div.hotprod-1 {
padding-bottom: 10px;
border-bottom: 1px solid #E2EBF4;
}

.p-list {
overflow: hidden;
zoom: 1;
width: 760px;
}
.p-list li {
float: left;
width: 190px;
text-align: center;
overflow: hidden;
display: inline;
}
.p-img, .p-name, .p-price, .p-market {
overflow: hidden;
}
.p-img {	
	margin: 8px 1px;
}
.p-name {
height: 4em;
line-height: 22px;
width: 180px;
margin: 0 auto;
}
.p-price strong{
	font-size: 12px;
	color: red;
	margin-right: 10px;
	font-family: Verdana;
	font-weight: bold;
}
.p-list .p-img:hover{border-radius:1px;-moz-border-radius:1px;-moz-box-shadow:0 0 1px #f60;-webkit-border-radius:1px;-webkit-box-shadow:0 0 1px #f60;padding:0;border:1px solid #FFD9C0\9;}

#service {
padding: 20px 20px 10px;
border: 1px solid #E6E6E6;
overflow: hidden;
zoom: 1;
margin-bottom: 10px;
}
#service .fore1 {
padding-left: 10px;
}
#service dl {
float: left;
width: 165px;
padding-left: 20px;
}
#service .fore5 {
width: 180px;
}
#footer {
padding-bottom: 30px;
text-align: center;
}
#footer .flinks a, #footer .flinks span {
margin: 0 10px;
}

.da211x90 {
width: 211px;
height: 90px;
background: whiteSmoke;
}

#advertiseleft{
position: relative;
overflow: visible;
}
#advertiseleft ul {
overflow: hidden;
width: 211px;
zoom: 1;
}
#advertiseleft li {
float: left;
overflow: hidden;
width: 211px;
height: 90px;
padding: 0px;
border: 1px solid #EFEFEF;
margin: 8px 8px 0 0;
}
.rank .mt {
height: 24px;
padding: 3px 8px;
background: url(../images/bg_tit_home.gif) #E6E6E6 repeat-x 0 -60px;
line-height: 24px;
}
.rank .mt h2 {
height: 30px;
color: #C00;
}
.rank .mc {
padding: 0 1px;
border: solid #E6E6E6;
border-width: 0 1px 1px;
}
.rank .fore {
padding: 10px 5px 10px;
height: 56px;
border-top: 1px solid #EFEFEF;
}
.rank span {
float: left;
padding: 0 8px 0 4px;
font-size: 14px;
font-weight: bold;
color: #C00;
font-family: arial;
}

.rank .fore .p-img {
float: left;
height: 50px;
margin-right: 5px;
}
.rank .fore .p-name {
width: 120px;
height: 3em;
line-height: 1.5em;
}
.rank .fore .p-price {
float: left;
height: 18px;
margin-top: 2px;
line-height: 18px;
}
.rank .fore .p-price strong {
color: #F60;
}

#nav {
float: left;
padding-left:18px;
padding-top: 5px;
position: relative;
z-index: 1200;
margin-bottom: -2px;
}

ul#topnav {
	margin: 0; padding: 0;
	z-index: 15;
	float:left;
	list-style: none;
	padding: 0 0 1px;	
}
ul#topnav li {
	float: left;
	margin: 0; padding: 0;
	position: relative;
	padding-right:3px;
}
ul#topnav li a {
	float: left; 
	height: 27px;
}
ul#topnav li:hover a, ul#topnav li a:hover {}
ul#topnav a.home {
	background-repeat: no-repeat;
	background-image: url(../images/bg_nav_0816.jpg);
	background-position: -216px -200px;
	width: 57px;
	color: black;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 29px;
}
ul#topnav a.products {
	background-repeat: no-repeat;
	background-image: url(../images/bg_nav_0816.jpg);
	background-position: -216px -301px;
	width: 87px;
	color: black;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 29px;
}
ul#topnav a.curr{
	background-position: -216px -233px;
	color: white;
}

ul#topnav a.curr2{
	background-position: -216px -233px;
	color: white;
}
 
ul#topnav li .sub {
	position: absolute;	
	top: 27px; left: -10px;
	background: #fff;
	border: 3px solid #FCD410;
	padding: 20px 20px 20px;
	float: left;
	width:323px;
	display: inline;
	
	/*--Bottom right rounded corner--*/
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	/*--Bottom left rounded corner--*/
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	display: none;
}

ul#topnav li .sub dl{
clear: both;
line-height: 30px;
padding: 0 0 0 10px;
border-bottom: 1px dashed #D2D2D2;
_border-bottom: 1px dotted #D2D2D2;
overflow: hidden;
}
ul#topnav li .sub dt{
clear: both;
width: 70px;
height: 28px;
line-height: 28px;
color: #B10904;
font-weight: bold;
padding: 1px 0;
overflow: hidden;
}

ul#topnav li .sub dd {
height: auto!important;
height: 22px;
min-height: 30px;
margin-top: -30px;
padding: 0 0 0 70px;
}

ul#topnav li .sub dd a {
float: left;
height: 12px;
line-height: 12px;
color: #666;
white-space: nowrap;
margin: 8px 8px 7px 0;
padding: 1px 0 1px 8px;
border-left: 1px solid #D0D4D6;
}

/*ul#topnav li .row {clear: both; float: left; width: 100%; margin-bottom: 10px;}
ul#topnav li .sub ul{
	list-style: none;
	margin: 0; padding: 0;
	width: 150px;
	float: left;
}
ul#topnav .sub ul li {
	width: 100%;
	color: #fff;
}
ul#topnav .sub ul li h2 {
	padding: 0;  margin: 0;
	font-size: 1.3em;
	font-weight: normal;
}
ul#topnav .sub ul li h2 a {
	padding: 5px 0;
	background-image: none;
	color: #000;
}
ul#topnav .sub ul li a {
	float: none; 
	text-indent: 0;
	height: auto;
	background: url(http://www.sohtanaka.com/web-design/examples/mega-dropdowns/navlist_arrow.png) no-repeat 5px 12px;
	padding: 7px 5px 7px 15px;
	display: block;
	color: #000;
}
ul#topnav .sub ul li a:hover {color: #ddd; background-position: 5px 12px ;}*/


/** 购物车 */
.List_cart {
border: 0px solid #CCC;
}
.List_cart h2 {
height: 28px;
line-height: 28px;
background: url(../images/cart_bg_05.gif) #AACDED no-repeat right top;
}
.List_cart h2 strong {
display: block;
height: 28px;
background: url(../images/cart_bg_03.gif) no-repeat left top;
padding: 0 20px;
}
.cart_table {
border: solid #AACDED;
padding: 20px 17px 0;
overflow: hidden;
border-width: 0 3px;
}
.Table {
border-collapse: collapse;
margin: 0;
padding: 0;
border: 1px #AACDED solid;
}
tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}
.align_Center {
text-align: center;
}
.align_Left {
text-align: left;
}
.align_Right {
text-align: right;
}
tr.Thead, td.Tfoot {
background: #EBF4FB;
}
.Table th, .Table td {
border: 1px #AACDED solid;
padding-left: 5px;
}
.cart_table td {
padding: 2px;
}
.cart_table .Table .align_Left {
vertical-align: middle;
}
.cart_table .Table .p-img {
float: left;
margin-right: 10px;
vertical-align: middle;
}
.cart_table .Table .p-img img {
border: 1px solid #DDD;
width: 50px;
height: 50px;
vertical-align: middle;
}
.cart_table .Table a:link, .cart_table .Table a:visited {
color: #005EA7;
}
.cart_table .Table .price {
color: red;
font-family: verdana;
font-weight: bold;
}
.cart_op {
padding: 25px 10px;
height: 38px;
font-size: 14px;
}
.cart_op li {
line-height: 38px;
float: left;
}
.cart_op li a {
font-size: 12px;
}
.cart_op .li1 {
padding-left: 23px;
background: url(../images/cd.gif) no-repeat 7px 11px;
}
.cart_op .li2 {
padding-left: 19px;
background: url(../images/gwc_07.jpg) no-repeat 0px 9px;
margin-right: 20px;
}
.cart_op .li3 {
float: right;
}
.cart_op .li3 a {
line-height: 200px;
display: block;
height: 38px;
background: url(../images/btn0603.gif);
overflow: hidden;
float: left;
}
.cart_op .li3 #continueBuyBtn {
width: 109px;
margin-right: 5px;
}
.cart_op .li3 #gotoOrderInfo {
background-position: -110px 0;
width: 99px;
}
.cart_op .li4 {
margin-right: 18px;
}
.cart_op a.btn_storage {
-moz-background-clip: border;
-moz-background-inline-policy: continuous;
-moz-background-origin: padding;
background: transparent url(../images/btn_storage.gif) no-repeat scroll 0 0;
color: black;
cursor: pointer;
display: inline-block;
height: 21px;
line-height: 21px;
margin-right: 10px;
text-align: center;
width: 50px;
}
.List_cart .round {
height: 10px;
background: url(../images/cart_bg_11.gif) repeat-x 0 top;
}
.lround {
width: 10px;
height: 10px;
background: url(../images/cart_bg_09.gif) no-repeat left top;
float: left;
}
.rround {
width: 10px;
height: 10px;
background: url(../images/cart_bg_10.gif) no-repeat right top;
float: right;
}

.Header_cart {
width: 100%;
padding: 20px 0;
overflow: hidden;
}
.Order_cart {
width: 438px;
height: 29px;
float: left;
padding-top: 23px;
}
.Order_cart li {
float: left;
line-height: 29px;
padding-left: 8px;
font-weight: bold;
}

#Order_cart_S1 {
background: url(../images/warebuy1.jpg) no-repeat;
}
#Order_cart_S1 .step1 {
color: white;
}
.Order_cart .step1 {
width: 120px;
}
.Order_cart .step2 {
width: 155px;
}
.Order_cart .step3 {
}
#Order_cart_S2 {
background: url(../images/warebuy2.jpg) no-repeat;
}
#Order_cart_S2 .step2 {
color: white;
}
.marginb10 {
margin-bottom: 10px;
}
.cart_table {
border: solid #AACDED;
padding: 20px 17px 0;
overflow: hidden;
border-width: 0 3px;
}
.o_show, .o_write {
margin: 10px 10px 0px 10px;
border-bottom: #CCC dotted 2px;
text-align: left;
}
.o_show h1, .o_write h1 {
line-height: 150%;
font-size: 14px;
margin-bottom: 5px;
}
.o_show h1 a, .o_write h1 a {
font-size: 12px;
font-weight: 100;
color: #185D94;
}
.o_show .middle, .o_write .middle {
padding-left: 17px;
line-height: 20px;
color: #333;
}
.o_show .middle td {
line-height: 20px;
color: #404040;
}
.cart_table td {
padding: 2px;
}
.o_show .footer {
padding: 5px 5px 5px 35px;
}
input.btn {
background: #F90;
text-align: center;
line-height: 23px;
height: 23px;
padding: 0px 3px;
color: white;
font-size: 14px;
font-weight: bold;
cursor: pointer;
border: #BB4A00 solid 1px;
border-left: #FFC7A2 solid 1px;
border-top: #FFC7A2 solid 1px;
}
.cydz {
overflow: hidden;
margin-bottom: 7px;
border: #B7D2DF dotted 1px;
color: #87B4C9;
background: #F8FBFC;
padding: 5px 0 5px 10px;
width: 80%;
}
.cydz li {
width: 99%;
display: block;
margin-right: 7px;
border: #F8FBFC dotted 1px;
color: #87B4C9;
padding-left: 2px;
overflow: hidden;
}
.cydz li.xz {
color: #F8AA27;
background: #FFFAEE;
border: #F9BA53 dotted 1px;
}
.cydz td {
padding: 0px;
}
.cydz .remark {
color: gray;
}
#part_cart tr.Thead td {
background: #FFF4D7;
height: 28px;
}
#part_cart td {
border: #CCC 1px solid;
border-left: none;
border-right: none;
}
#ware_info {
background: #FFF4D7;
margin: 10px;
padding-bottom: 10px;
}
#ware_info h1 {
height: 17px;
text-align: left;
border-top: #EBCCA0 2px solid;
}
#ware_info .middle {
padding: 0px 40px;
text-align: left;
line-height: 150%;
font-size: 14px;
}
#ware_info .info1 {
border-bottom: #EBCBA0 dotted 1px;
}
.submit {
text-align: right;
padding-bottom: 10px;
}

#submit_btn .btn_submit{
	margin-top:2px;
	border:none;
	cursor:pointer;
	width:160px;
	height:53px;
	background:url(../images/submit.jpg);
}

/* ---------- Dialog ---------- */

.dialogOverlay {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99;
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
	zoom: 1;
	background: url(../images/base_overlay_bg.png);
}

* html .dialogOverlay {
	position: absolute;
	top: 0;
}

.baseDialog {
	padding: 5px;
	display: none;
	position: fixed;
	top: 25%;
	left: 50%;
	z-index: 100;
	overflow: hidden;
}

* html .baseDialog {
	position: absolute;
	top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(25 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

.baseDialog .dialogWrap {
	width: 1000px;
	height: 1000px;
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	filter: alpha(opacity = 15);
	-moz-opacity: 0.15;
	opacity: 0.15;
	background-color: #000000;
}

.baseDialog .dialogMain {
	border: 1px solid #779cb0;
	background: url(../images/base_x_bg.gif) 0px -120px #ffffff repeat-x;
}

.baseDialog .dialogTitle {
	height: 40px;
	line-height: 40px;
	clear: both;
	padding-left: 10px;
	color: #666666;
	font-weight: bold;
	cursor: move;
	background: url(../images/base_x_bg.gif) 0px 0px repeat-x;
}

.baseDialog .dialogClose {
	width: 25px;
	height: 19px;
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
	background: url(../images/base_button.gif) -180px 0px no-repeat;
}

.baseDialog .dialogClose:hover {
	background-position: -240px 0px;
}

.baseDialog .dialogContent {
	line-height: 30px;
	clear: both;
	margin: 40px 50px;
}

.baseDialog .dialogwarnIcon {
	padding-left: 30px;
	background: url(../images/base_icon.gif) 0px -540px no-repeat;
}

.baseDialog .dialogsuccessIcon {
	padding-left: 30px;
	background: url(../images/base_icon.gif) 0px -740px no-repeat;
}

.baseDialog .dialogerrorIcon {
	padding-left: 30px;
	background: url(../images/base_icon.gif) 0px -940px no-repeat;
}

.baseDialog .dialogButtonArea {
	height: 34px;
	padding-top: 6px;
	clear: both;
	text-align: center;
	background: url(../images/base_x_bg.gif) 0px -60px repeat-x;
}

.baseDialog .dialogButtonArea input {
	margin: 0px 10px;
}

.baseDialog .dialogButtonArea .formButton {
	width: 70px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	outline: none;
	cursor: pointer;
	color: #646464;
	font-size: 12px;
	border: none;
	background: url(../images/base_button.gif) 0px 0px no-repeat;
}

.baseDialog .dialogButtonArea .formButton:hover {
	color: #000000;
	background: url(../images/base_button.gif) -90px 0px no-repeat;
}

/* ---------- Message ---------- */

.baseMessage {
	padding: 5px 15px 5px 10px;
	display: none;
	position: fixed;
	top: 35%;
	left: 50%;
	z-index: 1000;
	color: #000000;
	border: 2px solid #ffaa71;
	background-color: #fff5ee;
}

* html .baseMessage {
	position: absolute;
	top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(35 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}


.baseMessage .messagewarnIcon {
	padding-left: 30px;
	background: url(../images/base_icon.gif) 0px -540px no-repeat;
}

.baseMessage .messagesuccessIcon {
	padding-left: 30px;
	background: url(../images/base_icon.gif) 0px -740px no-repeat;
}

.baseMessage .messageerrorIcon {
	padding-left: 30px;
	background: url(../images/base_icon.gif) 0px -940px no-repeat;
}

.baseMessage .messageContent {
	line-height: 30px;
}

/* ---------- Other ---------- */

.warnInfo {
	line-height: 30px;
	padding: 5px 5px 5px 20px;
	border: 1px solid #ffca80;
	background: url(../images/base_icon.gif) no-repeat 0px -420px #fffee2;
}