html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
margin: 0;
padding: 0;
}
body {
font-family: "宋体",Arial,Lucida,Verdana,Helvetica,sans-serif;
font-size: 12px;
color: #333;
line-height: 150%;
background: white;
}
img {
border: none;
}
h2 {
font-size: 14px;
}
h5 {
font-size: 12px;
}
div {
display: block;
}
.m, .mt, .mc, .mb {
overflow: hidden;
zoom: 1;
}
.hide {
display: none;
}
#shortcut {
width: 100%;
height: 30px;
background: url(../images/bg_shortcut.gif) #EFEFEF repeat-x 0 -134px;
}
.w {
width: 980px;
margin: 0 auto;
zoom: 1;
}
.crumb {
padding: 0 5px 8px;
}
#header {
margin-bottom: 7px;
}
#shortcut .collect {
float: left;
position: relative;
padding-left: 15px;
line-height: 30px;
}
#shortcut .collect b {
position: absolute;
top: 9px;
left: 2px;
width: 10px;
height: 10px;
overflow: hidden;
background: url(../images/bg_tit_home.gif) -130px -274px;
}
ol, ul {
list-style: none;
}
a:link, a:visited {
color: #333;
text-decoration: none;
}
a:hover {
color: #C00;
text-decoration: underline;
}
#shortcut ul {
float: right;
position: relative;
z-index: 11;
background: url(../images/bg_shortcut.gif) repeat-x 0 -134px;
height: 30px;
}
#shortcut li {
float: left;
height: 26px;
padding: 2px 10px;
background: url(../images/bg_shortcut.gif) no-repeat -260px -100px;
line-height: 26px;
font-family: "宋体";
color: #ACACAC;
}
#shortcut .fore1 {
background: none;
}
#shortcut .fore2 {
padding-left: 50px;
background: url(../images/bg_shortcut.gif) no-repeat -130px -165px;
}
#shortcut .sub {
width: 72px;
padding: 0;
}
#shortcut li dl {
overflow: hidden;
padding: 0 1px;
}
#shortcut li dt {
position: relative;
height: 26px;
padding: 2px 11px 2px 8px;
overflow: hidden;
}
#shortcut li dd {
display: none;
line-height: 20px;
padding-left: 8px;
}
#shortcut li dt b {
position: absolute;
top: 13px;
right: 3px;
width: 5px;
height: 3px;
background: url(../images/bg_shortcut.gif) no-repeat -210px -25px;
}
.clr {
display: block;
overflow: hidden;
clear: both;
height: 0;
line-height: 0;
font-size: 0;
}
.clr5{
display: block;
overflow: hidden;
clear: both;
height: 5px;
line-height: 0;
font-size: 0;
}
#logo {
position: relative;
float: left;
padding: 8px 10px 0;
margin-right: 10px;
}


#o-search {
height: 50px;
background: url(../images/bg_nav_0816.jpg) #ed6f1a repeat-x 0 -115px;
}

.allsort {
float: left;
width: 3px;
height: 50px;
margin-right: 4px;
background: url(../images/bg_nav_0816.jpg) no-repeat 0 -217px;
position: relative;
z-index: 11;
}


#search {
float: left;
width: 257px;
height: 29px;
padding: 1px 0 1px 1px;
margin: 11px 10px 0 0;
background: url(../images/bg_nav_0816.jpg) no-repeat 0 0;
}
#search {
width: 332px;
padding: 1px;
}

#i-search {
float: left;
position: relative;
width: 182px;
z-index: 6;
font-family: arial;
zoom: 1;
}
#i-search {
width: 257px;
}
#key {
width: 228px;
height: 15px;
padding: 8px 5px 6px 24px;
border: 0;
line-height: 15px;
background: none;
color: #999;
font-size: 14px;
}
#tie {
width: 257px;
}
#tie {
position: absolute;
top: 29px;
left: -1px;
width: 182px;
border: 1px solid #990005;
background: white;
overflow: hidden;
}
#btn-search {
background: none;
}
#btn-search {
width: 75px;
height: 29px;
padding: 0;
margin: 0;
border: 0;
background: url(../images/bg_nav_0816.jpg) no-repeat -258px -1px;
cursor: pointer;
font-size: 14px;
color: #C03;
font-weight: bold;
}
#hotwords {
width: 410px;
}
#hotwords {
float: left;
width: 266px;
height: 20px;
margin-top: 17px;
padding-right: 5px;
color: #FCC;
line-height: 20px;
overflow: hidden;
}
#hotwords strong {
float: left;
}
#hotwords a {
float: left;
color: #FCC;
margin-right: 10px;
white-space: nowrap;
}
#mycart {
float: right;
width: 218px;
height: 26px;
padding: 11px 8px 11px 0;
background: url(../images/bg_nav_0816.jpg) no-repeat -108px -31px;
line-height: 28px;
}
#mycart li {
float: left;
text-align: center;
}
#mycart .fore1 {
position: relative;
z-index: 20;
width: 89px;
padding: 0 25px 0 34px;
}
#mycart .fore1 b {
padding: 0 4px;
color: #066FC9;
}
#o-mycart-list {
position: absolute;
top: 20px;
left: -144px;
width: 368px;
padding-top: 10px;
}
#mycart-list {
width: 354px;
padding: 0 5px 5px;
border: 3px solid #FCD410;
background: white;
text-align: left;
}
#mycart-list dl {
height: 60px;
overflow: hidden;
zoom: 1;
}
#mycart-list .p-img {
float: left;
width: 50px;
margin-right: 6px;
}
#mycart-list .p-name {
float: left;
width: 200px;
margin-top: 10px;
height: 40px;
line-height: 20px;
}
#mycart-list .extra {
float: right;
width: 90px;
margin-top: 10px;
height: 40px;
line-height: 20px;
text-align: right;
}
#mycart-list strong {
color: #FF2400;
}
#mycart-list .extra a {
color: #999;
}

.norecode {
color: #999;
}
.ac {
text-align: center;
}
#mycart .fore2 {
width: 54px;
padding-right: 14px;
}
#mycart .fore2 a {
color: white;
}

/**布局文件*/
.left {
float: left;
width: 211px;
margin-right: 6px;
}
.right {
float: right;
width: 760px;
}
#brand {
position: relative;
overflow: visible;
z-index: 2;
}
#brand .mt {
height: 24px;
padding: 3px 8px;
background: url(../images/bg_tit_home.gif) #E6E6E6 no-repeat 0 -30px;
line-height: 24px;
overflow: visible;
}
#brand h2 {
float: left;
}
#brand .mc {
border: solid #E6E6E6;
border-width: 0 1px 1px;
}
#brand ul {
overflow: hidden;
width: 201px;
padding: 0 0 8px 8px;
zoom: 1;
}
#brand li {
float: left;
overflow: hidden;
width: 88px;
height: 31px;
padding: 1px;
border: 1px solid #EFEFEF;
margin: 8px 8px 0 0;
}
#brand .mc .extra {
padding: 5px 8px;
text-align: right;
}

#sortlist .mt {
height: 24px;
padding: 3px 8px;
background: url(../images/bg_tit_home.gif) #C40000 no-repeat 0 0;
line-height: 24px;
}
#sortlist h2 {
color: white;
}
#sortlist .mc {
width: 209px;
border: solid #C40000;
padding: 6px 0 0;
background: #FFFFF5;
border-width: 0 1px 1px;
}
#sortlist .item {
padding: 0 2px;
}
#sortlist h3 {
height: 16px;
padding: 3px 6px;
margin-bottom: 2px;
line-height: 15px;
color: #C30;
}
#sortlist h3 a {
color: #C30;
}
#sortlist ul {
padding: 6px 0 6px 6px;
overflow: hidden;
zoom: 1;
}
#sortlist .current ul {
display: block;
}
#sortlist li {
float: left;
width: 95px;
height: 18px;
padding: 3px 4px 3px 0;
overflow: hidden;
}

 .slider {
	width: 758px;
	height: 260px;
	clear: both;
	overflow: hidden;
	border: 1px solid #dddddd;
}

 .slider .scrollable {
	width: 758px;
	height: 260px;
	overflow: hidden;
	position: relative;
	z-index: 0;
}

 .slider .items {
	width: 20000em;
	position: absolute;
	z-index: 1;
	clear: both;
}

 .slider .scrollable .items div {
	width: 998px;
	float: left;
}

 .slider .scrollable .navi {
	height: 10px;
	margin: 0px 10px;
	position: absolute;
	z-index: 2;
	right: 50px;
	bottom: 12px;
}

 .slider .scrollable .navi a {
	width: 10px;
	height: 10px;
	float: left;
	margin-left: 5px;
	display: block;
	outline: none;
	overflow: hidden;
	background: url(../images/index_slider_navi_bg.gif) -1px -40px no-repeat;
}

 .slider .scrollable .navi a:hover {
	background-position: -1px -60px;
}

 .slider .scrollable .navi a.active {
	background-position: -1px -60px;
}

 .slider .scrollable .prevNext {
	height: 15px;
	width: 40px;
	position: absolute;
	z-index: 2;
	right: 10px;
	bottom: 10px;
	display: block;
	float: left;
}

 .slider .scrollable a.browse {
	height: 15px;
	width: 20px;
	display: block;
	float: left;
	cursor: pointer;
	overflow: hidden;
	background: url(../images/index_slider_navi_bg.gif) no-repeat;
}

 .slider .scrollable a.right {
	background-position: -21px 0px;
}

 .slider .scrollable .right:hover {
	background-position: -21px -19px;
}

 .slider .scrollable .left:hover {
	background-position: 0px -19px;
}

 .slider .scrollable a.disabled {
	visibility: hidden !important;
}

div.hotprod .mt {
position: relative;
height: 28px;
background: url(../images/bg_tit_home.gif) #E6E6E6 repeat-x 0 -128px;
overflow: visible;
}
div.hotprod h2 {
float: left;
width: 121px;
height: 28px;
padding: 0 10px;
background: url(../images/bg_tit_home.gif) no-repeat 0 -100px;
color: white;
line-height: 28px;
}
div.hotprod .mt .extra {
float: right;
width: 100px;
height: 28px;
padding-right: 10px;
background: url(../images/bg_tit_home.gif) no-repeat right -156px;
text-align: right;
line-height: 28px;
}
div.hotprod-1 {
padding-bottom: 10px;
border-bottom: 1px solid #E2EBF4;
}

.p-list {
overflow: hidden;
zoom: 1;
width: 760px;
}
.p-list li {
float: left;
width: 25%;
text-align: center;
overflow: hidden;
height: 189px;
display: inline;
}
.p-img, .p-name, .p-price, .p-market {
overflow: hidden;
}
.p-img {
margin: 5px 0;
}
.p-name {
height: 22px;
overflow: hidden;
line-height: 22px;
width: 150px;
margin: 0 auto;
}
.p-img, .p-name, .p-price, .p-market {
overflow: hidden;
}

#service {
padding: 20px 20px 10px;
border: 1px solid #E6E6E6;
overflow: hidden;
zoom: 1;
margin-bottom: 10px;
}
#service .fore1 {
padding-left: 10px;
}
#service dl {
float: left;
width: 165px;
padding-left: 20px;
}
#service .fore5 {
width: 180px;
}
#footer {
padding-bottom: 30px;
text-align: center;
}
#footer .flinks a, #footer .flinks span {
margin: 0 10px;
}

.da211x90 {
width: 211px;
height: 90px;
background: whiteSmoke;
}

#advertiseleft{
position: relative;
overflow: visible;
}
#advertiseleft ul {
overflow: hidden;
width: 211px;
zoom: 1;
}
#advertiseleft li {
float: left;
overflow: hidden;
width: 211px;
height: 90px;
padding: 0px;
border: 1px solid #EFEFEF;
margin: 8px 8px 0 0;
}
.rank .mt {
height: 24px;
padding: 3px 8px;
background: url(../images/bg_tit_home.gif) #E6E6E6 repeat-x 0 -60px;
line-height: 24px;
}
.rank .mt h2 {
height: 30px;
color: #C00;
}
.rank .mc {
padding: 0 1px;
border: solid #E6E6E6;
border-width: 0 1px 1px;
}
.rank .fore {
padding: 10px 5px 10px;
height: 56px;
border-top: 1px solid #EFEFEF;
}
.rank span {
float: left;
padding: 0 8px 0 4px;
font-size: 14px;
font-weight: bold;
color: #C00;
font-family: arial;
}

.rank .fore .p-img {
float: left;
height: 50px;
margin-right: 5px;
}
.rank .fore .p-name {
width: 120px;
height: 3em;
line-height: 1.5em;
}
.rank .fore .p-price {
float: left;
height: 18px;
margin-top: 2px;
line-height: 18px;
}
.rank .fore .p-price strong {
color: #F60;
}

/** 产品内页样式 */
#name {
padding: 10px;
text-align: center;
}
#name h1 {
display: inline;
font-size: 16px;
font-family: arial;
}

#preview {
float: left;
width: 352px;
margin-bottom: 20px;
}
#spec-n1 {
width: 350px;
height: 350px;
border: 1px solid #E4E4E4;
}
.jqzoom {
position: relative;
padding: 0;
}
#spec-n5 {
position: relative;
width: 300px;
height: 56px;
padding: 5px 26px;
}
#spec-n5 .control {
position: absolute;
top: 10px;
width: 10px;
height: 45px;
background-image: url(../images/icon_clubs.gif);
background-repeat: no-repeat;
cursor: pointer;
}
#spec-n5 .control {
position: absolute;
top: 10px;
width: 10px;
height: 45px;
background-image: url(../images/icon_clubs.gif);
background-repeat: no-repeat;
cursor: pointer;
}
#spec-list {
width: 300px;
height: 56px;
overflow: hidden;
}
#spec-list ul {
height: 56px;
overflow: hidden;
}
.list-h {
overflow: hidden;
zoom: 1;
}
.list-h li, .list-h dl {
float: left;
}
#spec-list li {
width: 60px;
text-align: center;
}
#spec-list img {
padding: 2px;
border: 1px solid #E8E8E8;
}
#summary {
float: right;
width: 380px;
padding: 10px;
background: url(../images/bg_tit_home.gif) repeat-x 0 -597px;
margin-bottom: 20px;
}
#summary li {
padding-top: 10px;
padding-bottom: 10px;
}
.fl {
float: left;
}
#summary .price {
font-size: 18px;
color: red;
margin-right: 10px;
font-family: Verdana;
font-weight: normal;
}

.tab {
overflow: hidden;
zoom: 1;
}

.tab li, .tab a, .tab-item {
float: left;
cursor: pointer;
text-align: center;
}

.right .tab .curr {
background-position: right -178px;
color: white;
}

.right .tab {
border-bottom: 2px solid #BE0000;
margin-bottom: 10px;
}
.right .tab li {
position: relative;
height: 24px;
padding: 3px 12px 0;
background: url(../images/icon_clubs.gif) #CCC no-repeat right -150px;
overflow: hidden;
margin-right: 3px;
line-height: 24px;
font-size: 14px;
font-weight: bold;
color: #C30;
}
.right .tab .curr span {
background-position: 0 -178px;
}
.right .tab span {
position: absolute;
left: 0;
top: 0;
z-index: 1;
width: 10px;
height: 27px;
background: url(../images/icon_clubs.gif) no-repeat 0 -150px;
}

.tab_content{
	padding: 10px;
	overflow: hidden;
	zoom: 1;
}
#i-comment {
padding: 10px 0;
margin-bottom: 10px;
border: 1px solid #E4E4E4;
overflow: hidden;
zoom: 1;
}
#i-comment .rate {
float: left;
width: 100px;
height: 65px;
padding: 15px 0 0;
border-right: 1px solid #E4E4E4;
text-align: center;
color: #E26500;
}
#i-comment .rate strong {
line-height: 36px;
font-size: 30px;
font-family: arial;
}
.percent {
float: left;
width: 220px;
height: 70px;
padding: 5px 3px 5px 15px;
border-right: 1px solid #E4E4E4;
}
.percent dl {
padding: 2px 0;
overflow: hidden;
zoom: 1;
}
.percent dt, .percent dd {
float: left;
margin-right: 5px;
}
.percent .d1 {
width: 150px;
border: 1px solid #CCC;
height: 9px;
margin-top: 4px;
overflow: hidden;
background: url(../images/icon_clubs.gif) #EFEFEF repeat-x 0 -129px;
}
.percent .d1 div {
height: 9px;
background: url(../images/icon_clubs.gif) #FF701B repeat-x 0 -119px;
overflow: hidden;
}
#i-comment .btns {
float: left;
width: 150px;
height: 75px;
padding: 0 0 5px;
text-align: center;
}
#i-comment .btns a {
color: #005AA0;
}
#i-comment .btn-comment {
display: block;
width: 106px;
height: 35px;
background: url(../images/icon_clubs.gif) no-repeat -30px -230px;
line-height: 100px;
overflow: hidden;
margin: 5px auto;
}

#comment .i-item {
padding: 10px 15px 5px 3px;
border: 1px solid #F3E6C6;
background: #FFFCF5;
}
#comment .o-topic {
padding: 0 0 2px;
margin-bottom: 10px;
border-bottom: 1px solid #F9F0DB;
overflow: hidden;
zoom: 1;
}
#comment .topic {
float: left;
}
#comment .star {
float: left;
margin: 2px 0 0 5px;
}
.date-comment {
float: right;
color: #999;
}
.comment-content dl {
padding: 2px 0;
overflow: hidden;
zoom: 1;
}
.comment-content dt {
float: left;
width: 62px;
text-align: right;
color: #FE8F02;
}
.comment-content dd {
float: left;
}
#comment .btns {
height: 25px;
padding: 10px 0 5px 2px;
line-height: 25px;
overflow: hidden;
zoom: 1;
}

#comment .btn-reply, #comment .btn-agree, #comment .btn-oppose {
width: 62px;
height: 25px;
background: url(../images/icon_clubs.gif) no-repeat 0 -328px;
border: 0;
text-align: center;
margin-right: 5px;
}
#comment .btn-reply {
float: right;
}

#comment .corner {
position: absolute;
background-repeat: no-repeat;
overflow: hidden;
}
#comment .tl {
top: 0;
left: 115px;
width: 20px;
height: 40px;
background-position: 0 -206px;
}
#comment .tr {
top: 0;
right: 0;
width: 10px;
height: 40px;
background-position: -20px -206px;
}
#comment .b {
bottom: 0;

height: 10px;
background-position: 0 -139px;
background-repeat: repeat-x;
}
#comment .bl {
bottom: 0;
left: 130px;
width: 10px;
height: 10px;
background-position: -14px -246px;
}
#comment .br {
bottom: 0;
right: 0;
width: 10px;
height: 10px;
background-position: -20px -246px;
}

/**

#nav {
float: left;
padding-top: 35px;
position: relative;
z-index: 10;
overflow: hidden;
margin-bottom: -3px;
}

#nav .curr, #nav-index,#nav_a, #nav-extra, #nav-extra ul {
float: left;
height: 27px;
padding: 0 0 2px;
background-image: url(../images/bg_nav_0816.jpg);
background-repeat: no-repeat;
}

#nav a {
float: left;
height: 27px;
line-height: 29px;
text-decoration: none;
text-align: center;
font-size: 14px;
font-weight: bold;
}

#nav-index {
background-position: -216px -200px;
background-color: #CC0C0C;
}
#index #nav-index {
background-position: -216px -200px;
}
#nav-index a {
width: 57px;
}
#index #nav-index a {
color: black;
}

#nav_a{
	background-position: -216px -233px;
}
#index #nav_a{
	background-position: -216px -233px;
}
#nav_a a {
width: 87px;
}
#index #nav_a a {
color: white;
}

#nav-extra {
background-position: 0 -82px;
padding-left: 4px;
position: relative;
height: 29px;
padding-bottom: 0;
background-color: #CC0C0C;
}
#nav-extra ul {
float: left;
padding: 0 4px 2px 0;
background-position: right -272px;
}
#nav .curr, #nav-index, #nav-extra {
margin-right: 2px;
}
#nav-extra li {
position: relative;
z-index: 1;
float: left;
background: url(../images/bg_nav_0816.jpg) no-repeat -333px -210px;
}
#nav-extra .fore {
background: none;
}
#nav-extra .corner {
position: absolute;
top: 0;
right: 0;
width: 8px;
height: 27px;
background-position: -277px -82px;
}
#nav-pop a {
width: 81px;
padding: 0 4px 0 0;
}
#nav-extra a {
height: 27px;
padding: 0 12px;
line-height: 27px;
text-align: center;
color: #930;
}
#nav-tuan a {
width: 61px;
padding: 0;
}
#nav-auction a {
width: 75px;
padding: 0;
}
#nav-jifen a, #nav-read a, #nav-club a {
width: 89px;
padding: 0;
}
#nav-category a {
width: 81px;
padding: 0 0 0 4px;
}
*/


#nav {
float: left;
padding-left:100px;
padding-top: 5px;
position: relative;
z-index: 1200;
margin-bottom: -3px;
}

ul#topnav {
	margin: 0; padding: 0;
	z-index: 15;
	float:left;
	list-style: none;
	padding: 0 0 2px;	
}
ul#topnav li {
	float: left;
	margin: 0; padding: 0;
	position: relative;
	padding-right:5px;
}
ul#topnav li a {
	float: left; 
	height: 27px;
}
ul#topnav li:hover a, ul#topnav li a:hover {}
ul#topnav a.home {
	background-repeat: no-repeat;
	background-image: url(../images/bg_nav_0816.jpg);
	background-position: -216px -200px;
	width: 57px;
	color: black;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 29px;
}
ul#topnav a.products {
	background-repeat: no-repeat;
	background-image: url(../images/bg_nav_0816.jpg);
	background-position: -216px -301px;
	width: 87px;
	color: black;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 29px;
}
ul#topnav a.curr{
	background-position: -216px -233px;
	color: white;
}
 
ul#topnav li .sub {
	position: absolute;	
	top: 27px; left: -10px;
	background: #fff;
	border: 3px solid #FCD410;
	padding: 20px 20px 20px;
	float: left;
	width:323px;
	display: inline;
	
	/*--Bottom right rounded corner--*/
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	/*--Bottom left rounded corner--*/
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	display: none;
}

ul#topnav li .sub dl{
clear: both;
line-height: 30px;
padding: 0 0 0 10px;
border-bottom: 1px dashed #D2D2D2;
_border-bottom: 1px dotted #D2D2D2;
overflow: hidden;
}
ul#topnav li .sub dt{
clear: both;
width: 70px;
height: 28px;
line-height: 28px;
color: #B10904;
font-weight: bold;
padding: 1px 0;
overflow: hidden;
}

ul#topnav li .sub dd {
height: auto!important;
height: 22px;
min-height: 30px;
margin-top: -30px;
padding: 0 0 0 70px;
}

ul#topnav li .sub dd a {
float: left;
height: 12px;
line-height: 12px;
color: #666;
white-space: nowrap;
margin: 8px 8px 7px 0;
padding: 1px 0 1px 8px;
border-left: 1px solid #D0D4D6;
}

/*ul#topnav li .row {clear: both; float: left; width: 100%; margin-bottom: 10px;}
ul#topnav li .sub ul{
	list-style: none;
	margin: 0; padding: 0;
	width: 150px;
	float: left;
}
ul#topnav .sub ul li {
	width: 100%;
	color: #fff;
}
ul#topnav .sub ul li h2 {
	padding: 0;  margin: 0;
	font-size: 1.3em;
	font-weight: normal;
}
ul#topnav .sub ul li h2 a {
	padding: 5px 0;
	background-image: none;
	color: #000;
}
ul#topnav .sub ul li a {
	float: none; 
	text-indent: 0;
	height: auto;
	background: url(http://www.sohtanaka.com/web-design/examples/mega-dropdowns/navlist_arrow.png) no-repeat 5px 12px;
	padding: 7px 5px 7px 15px;
	display: block;
	color: #000;
}
ul#topnav .sub ul li a:hover {color: #ddd; background-position: 5px 12px ;}*/


/** 购物车 */
.List_cart {
border: 0px solid #CCC;
}
.List_cart h2 {
height: 28px;
line-height: 28px;
background: url(../images/cart_bg_05.gif) #AACDED no-repeat right top;
}
.List_cart h2 strong {
display: block;
height: 28px;
background: url(../images/cart_bg_03.gif) no-repeat left top;
padding: 0 20px;
}
.cart_table {
border: solid #AACDED;
padding: 20px 17px 0;
overflow: hidden;
border-width: 0 3px;
}
.Table {
border-collapse: collapse;
margin: 0;
padding: 0;
border: 1px #AACDED solid;
}
tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}
.align_Center {
text-align: center;
}
.align_Left {
text-align: left;
}
.align_Right {
text-align: right;
}
tr.Thead, td.Tfoot {
background: #EBF4FB;
}
.Table th, .Table td {
border: 1px #AACDED solid;
padding-left: 5px;
}
.cart_table td {
padding: 2px;
}
.cart_table .Table .align_Left {
vertical-align: middle;
}
.cart_table .Table .p-img {
float: left;
margin-right: 10px;
vertical-align: middle;
}
.cart_table .Table .p-img img {
border: 1px solid #DDD;
width: 50px;
height: 50px;
vertical-align: middle;
}
.cart_table .Table a:link, .cart_table .Table a:visited {
color: #005EA7;
}
.cart_table .Table .price {
color: red;
font-family: verdana;
font-weight: bold;
}
.cart_op {
padding: 25px 10px;
height: 38px;
font-size: 14px;
}
.cart_op li {
line-height: 38px;
float: left;
}
.cart_op li a {
font-size: 12px;
}
.cart_op .li1 {
padding-left: 23px;
background: url(../images/cd.gif) no-repeat 7px 11px;
}
.cart_op .li2 {
padding-left: 19px;
background: url(../images/gwc_07.jpg) no-repeat 0px 9px;
margin-right: 20px;
}
.cart_op .li3 {
float: right;
}
.cart_op .li3 a {
line-height: 200px;
display: block;
height: 38px;
background: url(../images/btn0603.gif);
overflow: hidden;
float: left;
}
.cart_op .li3 #continueBuyBtn {
width: 109px;
margin-right: 5px;
}
.cart_op .li3 #gotoOrderInfo {
background-position: -110px 0;
width: 99px;
}
.cart_op .li4 {
margin-right: 18px;
}
.cart_op a.btn_storage {
-moz-background-clip: border;
-moz-background-inline-policy: continuous;
-moz-background-origin: padding;
background: transparent url(../images/btn_storage.gif) no-repeat scroll 0 0;
color: black;
cursor: pointer;
display: inline-block;
height: 21px;
line-height: 21px;
margin-right: 10px;
text-align: center;
width: 50px;
}
.List_cart .round {
height: 10px;
background: url(../images/cart_bg_11.gif) repeat-x 0 top;
}
.lround {
width: 10px;
height: 10px;
background: url(../images/cart_bg_09.gif) no-repeat left top;
float: left;
}
.rround {
width: 10px;
height: 10px;
background: url(../images/cart_bg_10.gif) no-repeat right top;
float: right;
}

.Header_cart {
width: 100%;
padding: 20px 0;
overflow: hidden;
}
.Order_cart {
width: 438px;
height: 29px;
float: left;
padding-top: 23px;
}
.Order_cart li {
float: left;
line-height: 29px;
padding-left: 8px;
font-weight: bold;
}

#Order_cart_S1 {
background: url(../images/warebuy1.jpg) no-repeat;
}
#Order_cart_S1 .step1 {
color: white;
}
.Order_cart .step1 {
width: 120px;
}
.Order_cart .step2 {
width: 155px;
}
.Order_cart .step3 {
}
#Order_cart_S2 {
background: url(../images/warebuy2.jpg) no-repeat;
}
#Order_cart_S2 .step2 {
color: white;
}
.marginb10 {
margin-bottom: 10px;
}
.cart_table {
border: solid #AACDED;
padding: 20px 17px 0;
overflow: hidden;
border-width: 0 3px;
}
.o_show, .o_write {
margin: 10px 10px 0px 10px;
border-bottom: #CCC dotted 2px;
text-align: left;
}
.o_show h1, .o_write h1 {
line-height: 150%;
font-size: 14px;
margin-bottom: 5px;
}
.o_show h1 a, .o_write h1 a {
font-size: 12px;
font-weight: 100;
color: #185D94;
}
.o_show .middle, .o_write .middle {
padding-left: 17px;
line-height: 20px;
color: #333;
}
.o_show .middle td {
line-height: 20px;
color: #404040;
}
.cart_table td {
padding: 2px;
}
.o_show .footer {
padding: 5px 5px 5px 35px;
}
input.btn {
background: #F90;
text-align: center;
line-height: 23px;
height: 23px;
padding: 0px 3px;
color: white;
font-size: 14px;
font-weight: bold;
cursor: pointer;
border: #BB4A00 solid 1px;
border-left: #FFC7A2 solid 1px;
border-top: #FFC7A2 solid 1px;
}
.cydz {
overflow: hidden;
margin-bottom: 7px;
border: #B7D2DF dotted 1px;
color: #87B4C9;
background: #F8FBFC;
padding: 5px 0 5px 10px;
width: 80%;
}
.cydz li {
width: 99%;
display: block;
margin-right: 7px;
border: #F8FBFC dotted 1px;
color: #87B4C9;
padding-left: 2px;
overflow: hidden;
}
.cydz li.xz {
color: #F8AA27;
background: #FFFAEE;
border: #F9BA53 dotted 1px;
}
.cydz td {
padding: 0px;
}
.cydz .remark {
color: gray;
}
#part_cart tr.Thead td {
background: #FFF4D7;
height: 28px;
}
#part_cart td {
border: #CCC 1px solid;
border-left: none;
border-right: none;
}
#ware_info {
background: #FFF4D7;
margin: 10px;
padding-bottom: 10px;
}
#ware_info h1 {
height: 17px;
text-align: left;
border-top: #EBCCA0 2px solid;
}
#ware_info .middle {
padding: 0px 40px;
text-align: left;
line-height: 150%;
font-size: 14px;
}
#ware_info .info1 {
border-bottom: #EBCBA0 dotted 1px;
}
.submit {
text-align: right;
padding-bottom: 10px;
}

#submit_btn .btn_submit{
	margin-top:2px;
	border:none;
	cursor:pointer;
	width:160px;
	height:53px;
	background:url(../images/submit.jpg);
}