address, caption, cite, code, dfn, em, strong, th, var {
font-style: normal;
}

.shop_norm_t_opt_h_28px {
margin: 0 auto;
padding: 0 5px;
width: 970px;
height: 27px;
display: block;
overflow: hidden;
border-bottom: 3px solid #F34F04;
clear: left;
}
.shop_norm_t_opt_h_28px ul {
margin: 0;
padding: 0;
list-style: none;
}
.shop_norm_t_opt_h_28px ul li {
float: left;
margin: 0 3px 0 0;
padding: 0;
height: 27px;
line-height: 29px;
font-size: 14px;
display: inline;
overflow: hidden;
}
.shop_norm_t_opt_h_28px ul li a {
float: left;
margin: 0;
padding: 0 0 0 14px;
text-decoration: none;
background: url(../images/shop_norm_t_opt_h_28px_li_bg.png) left top no-repeat;
}
.shop_norm_t_opt_h_28px ul li.sel a {
background-position: 0 -27px;
font-weight: bold;
}
.shop_norm_t_opt_h_28px ul li a span {
float: left;
padding: 0 14px 0 0;
height: 27px;
line-height: 29px;
color: #333;
font-size: 14px;
cursor: pointer;
display: block;
overflow: hidden;
background: url(../images/shop_norm_t_opt_h_28px_li_bg.png) right top no-repeat;
}
.shop_norm_t_opt_h_28px ul li.sel a span {
color: white;
background-position: 100% -27px;
font-weight: bold;
}
.blank_10px {
height: 10px;
font-size: 0;
display: block;
overflow: hidden;
}
.shop_norm_l_nav {
margin: 0 auto;
padding: 0;
width: 960px;
overflow: hidden;
clear: both;
text-align: left;
}

.shop_norm_l_nav .l_sidebar {
float: left;
width: 190px;
text-align: left;
}
.shop_bisc_info {
margin: 0 0 10px;
padding: 0 9px 10px;
width: 170px;
border: 1px solid #DDD;
border-top: 1px solid #F60;
}
.shop_bisc_info .s_t {
margin-bottom: 5px;
width: 170px;
height: 33px;
line-height: 33px;
color: #333;
font-size: 14px;
font-weight: bold;
border-bottom: 1px solid #DDD;
display: block;
overflow: hidden;
}
.shop_bisc_info .s_t h1 {
margin: 0;
padding: 0;
height: 33px;
line-height: 33px;
font-size: 14px;
overflow: hidden;
}
.shop_bisc_info .shop_grade_comm span, .shop_bisc_info .shop_grade_comm em {
line-height: 22px;
}
.shop_bisc_info .shop_grade_comm {
height: 22px;
line-height: 22px;
color: #333;
font-size: 12px;
display: block;
overflow: hidden;
}
span.star_grade_i {
width: 59px;
height: 11px;
display: inline-block;
font-size: 0;
vertical-align: middle;
}
span.star_grade_i i {
width: 59px;
height: 11px;
display: inline-block;
font-size: 0;
background: url(../images/star_icon.gif) no-repeat;
}
span.star_grade_i i.s_00 {
background-position: -1px -164px;
}
.shop_bisc_info .bot_line {
margin: 0 auto 6px;
width: 170px;
height: 5px;
font-size: 0;
display: block;
border-bottom: 1px solid #DDD;
}
.shop_bisc_info .shop_status_au {
height: 22px;
line-height: 22px;
color: #333;
font-size: 12px;
display: block;
overflow: hidden;
}
.shop_bisc_info .shop_status_au img {
vertical-align: middle;
}
.shop_bisc_info .shop_o_t_i_info {
margin: 0;
padding: 0;
width: 170px;
display: block;
overflow: hidden;
}
.shop_bisc_info .shop_o_t_i_info table {
width: 170px;
}
.shop_bisc_info .shop_o_t_i_info table th {
width: 60px;
font-weight: normal;
color: #333;
line-height: 22px;
font-size: 12px;
vertical-align: top;
}
.shop_bisc_info .shop_o_t_i_info table td {
font-weight: normal;
color: #333;
line-height: 22px;
font-size: 12px;
vertical-align: top;
}

.shop_bisc_info .os_link {
padding: 6px 0 0;
height: 25px;
text-align: center;
display: block;
z-index: 500;
}

.shop_norm_t_options ul li, .shop_bisc_info .authorization, .shop_bisc_info .authorization_no_au, .shop_in_sch .b_nav input.s_in_s_btn, .l_gray_tit, .shop_pord_catalog ul li, .go_s_h, .s_fav {
background: url(../images/item_norm.png) no-repeat;
}
.shop_bisc_info .os_link a {
text-decoration: none;
}
.shop_bisc_info .os_link .go_s_h {
margin: 0 10px 0 0;
width: 75px;
height: 25px;
cursor: pointer;
font-size: 0;
display: inline-block;
background-position: 0px -179px;
}
.shop_bisc_info .os_link .s_fav {
width: 77px;
height: 25px;
cursor: pointer;
font-size: 0;
display: inline-block;
background-position: -122px -179px;
}
.l_gray_tit {
padding: 0 0 0 10px;
width: 180px;
height: 31px;
line-height: 34px;
color: #333;
font-weight: bold;
display: block;
overflow: hidden;
background-position: 0px -251px;
}
.shop_in_sch {
margin: 0 0 10px;
padding: 0;
width: 188px;
border: 1px solid #DDD;
border-top: none;
overflow: hidden;
}
.shop_in_sch .f_s {
padding: 8px 0 12px;
}
.shop_in_sch .l_nav {
padding: 0 0 0 10px;
color: #666;
height: 30px;
line-height: 30px;
display: block;
overflow: hidden;
}
input.gray_c {
padding: 1px 1px;
line-height: 16px;
color: #333;
font-size: 12px;
border-width: 1px;
border-style: solid;
border-color: #707070 #CECECE #CECECE #707070;
}
.shop_in_sch .l_nav input {
vertical-align: middle;
}
.shop_in_sch .b_nav {
padding: 5px 0 0;
height: 28px;
overflow: hidden;
}
.shop_in_sch .b_nav input.s_in_s_btn {
margin-left: 58px;
width: 78px;
height: 24px;
cursor: pointer;
vertical-align: middle;
border: none 0;
background-position: -98px -214px;
}
.shop_pord_catalog {
margin-bottom: 10px;
padding: 0 10px 10px;
width: 168px;
border: 1px solid #DDD;
border-top: none;
overflow: hidden;
}
shop_pord_catalog .all_c {
margin-bottom: 5px;
height: 30px;
line-height: 36px;
color: #005BAC;
border-bottom: 1px dashed #CCC;
display: block;
overflow: hidden;
}
.shop_pord_catalog a {
color: #005BAC;
text-decoration: none;
}
.shop_pord_catalog a:hover {
color: #005BAC;
text-decoration: underline;
}
.shop_pord_catalog .all_c {
margin-bottom: 5px;
height: 30px;
line-height: 36px;
color: #005BAC;
border-bottom: 1px dashed #CCC;
display: block;
overflow: hidden;
}
.shop_pord_catalog ul {
margin: 0;
padding: 0 0 0 4px;
list-style: none;
}
.shop_pord_catalog ul li {
padding-left: 15px;
width: 130px;
height: 24px;
line-height: 24px;
display: block;
overflow: hidden;
}
.shop_pord_catalog ul li.c_2 {
background-position: 0px -324px;
}
.shop_hot_sell {
padding: 10px 10px 4px;
width: 168px;
border: 1px solid #DDD;
border-top: none;
overflow: hidden;
}
.shop_hot_sell .i_nav {
margin-bottom: 6px;
width: 168px;
height: 60px;
border-bottom: 1px dashed #CCC;
display: block;
overflow: hidden;
clear: both;
}
.shop_hot_sell .i_nav .por_img {
float: left;
width: 50px;
height: 50px;
font-size: 0;
border: 1px solid #CCC;
background: white;
}
.shop_hot_sell .i_nav .por_img a {
display: table-cell;
vertical-align: middle;
text-align: center;
width: 50px;
height: 50px;
overflow: hidden;
}
.shop_hot_sell .i_nav .r_it {
float: right;
width: 100px;
height: 60px;
overflow: hidden;
}
.shop_hot_sell .i_nav .r_it .pr_name {
width: 100px;
height: 36px;
line-height: 18px;
display: block;
overflow: hidden;
}
.shop_hot_sell .i_nav .r_it .pr_name a {
color: #005BAC;
text-decoration: none;
}
.shop_hot_sell .i_nav .r_it .pr_price {
width: 100px;
height: 20px;
line-height: 20px;
color: #F60;
display: block;
overflow: hidden;
}
.shop_hot_sell .i_nav .r_it .pr_price .rmb {
font-family: Arial;
}
.shop_norm_l_nav .r_content {
float: right;
width: 760px;
overflow: hidden;
text-align: left;
}
.shop_affiche_nav {
margin: 0 0 10px;
padding: 4px;
width: 752px;
height: 32px;
display: block;
overflow: hidden;
background: #FDEBDD;
}
.shop_affiche_nav .i_l {
padding: 0 10px 0 80px;
width: 660px;
height: 30px;
line-height: 30px;
color: #333;
border: 1px solid #FCC9AA;
background: url(../images/shop.png) left top #FFFCF7 no-repeat;
}
.shop_i_l_tit {
margin-bottom: 10px;
padding: 0 15px;
width: 730px;
height: 28px;
line-height: 28px;
color: #F60;
font-weight: bold;
display: block;
overflow: hidden;
background: url(../images/shop.png) 0px -49px no-repeat;
clear: both;
}
.shop_i_prod_list {
margin-bottom: 10px;
padding: 0;
width: 760px;
overflow: hidden;
clear: both;
}
.mall ul {
padding-top: 8px;
}
.mall ul li {
float: left;
width: 170px;
height: 290px;
padding: 0 10px;
margin-bottom: 10px;
overflow: hidden;
}
.mall ul li.shop_prod_list {
float: left;
width: 170px;
height: 240px;
padding: 0 10px;
margin-bottom: 0;
overflow: hidden;
}
.mall ul li .photo {
width: 160px;
height: 160px;
overflow: hidden;
padding: 4px;
border: 1px solid #EEE;
display: block;
position: relative;
}
.mall ul li.shop_prod_list .photo {
margin-bottom: 6px;
}
.photo a {
margin: 0 auto;
width: 160px;
height: 160px;
display: table-cell;
text-align: center;
vertical-align: middle;
overflow: hidden;
}
.tm_layer {
position: absolute;
bottom: 4px;
left: 4px;
width: 160px;
height: 20px;
z-index: 0;
}
.tm_layer .tm_bg {
position: relative;
z-index: 1;
background: #300;
opacity: 0.4;
width: 160px;
height: 20px;
}
.tm_layer .tm_text {
height: 20px;
width: 160px;
position: absolute;
top: 0;
z-index: 3;
}
.tm_text a.gm {
background-position: -244px -662px;
}
.photo .tm_layer .tm_text a {
width: 57px;
height: 20px;
line-height: 20px;
color: white;
padding-left: 18px;
font-size: 12px;
display: inline-block;
}
.tm_text a.jr {
background-position: -244px -684px;
}
.summary, .summary_list .sum, .search_right dl dd li .title, .p4p_list li .title {
overflow: hidden;
line-height: 20px;
font-size: 12px;
font-weight: normal;
margin: 0;
padding: 0;
height: 40px;
text-align: left;
}

.summary a {
color: #005BAC;
text-decoration: none;
}
.summary a:hover {
color: #005BAC;
text-decoration: underline;
}

.attribute {
padding-top: 6px;
height: 26px;
}

.attribute em, .price_list em, .search_right dl dd li .pri, .p4p_list a.pri {
padding-left: 10px;
font-size: 18px;
font-weight: bold;
line-height: 18px;
color: #F30;
}
.attribute em {
display: inline-block;
float: left;
background-position: 0 -145px;
}
.mall ul li.shop_prod_list .attribute {
padding-top: 0;
}
.mall ul li.shop_prod_list .attribute em {
font-size: 14px;
background-position: 0 -146px;
}
.cl {
clear: left;
height: 0;
line-height: 0;
font-size: 0;
}
.price_list em, .price_list span em, .attribute em, .no_search_img dd ul li em {
background: url(../images/icon/price_icon.png) no-repeat;
}

.page{width:100%;line-height:36px;text-align:center;padding-top:20px}
.page_bottom{text-align:center;display:inline-block;margin:0 auto}
.page_bottom a,.page_info,.page_start,.page_end,.page_break,.page_skip,.page_cur{
	font-family:Arial,SimSun;font-size:13px;height:23px;line-height:23px;margin-right:5px;min-width:15px;overflow:hidden;padding:0 5px;text-align:center;vertical-align:middle;white-space:nowrap;float:left}
.page_bottom .page_cur{background-color:#FFEEE5;border:1px solid #F50;color:#F50;font-weight:700;display:inline-block}
.page_bottom a,.page_bottom .page_start,.page_bottom .page_end{border:1px solid #CCC}
.page_bottom .page_next{background-position:35px -942px;padding-right:16px}
.page_bottom a.page_prev,.page_bottom .page_next,.page_bottom .page_end,.page_bottom .page_start{font-size:12px;width:auto}
.page_bottom .page_skip{color:#999;width:auto}
.page_bottom .page_skip input{border:1px solid #999;font-family:Arial,SimSun;height:18px;margin:0 5px;text-align:center;vertical-align:top;width:30px}
.page_bottom .page_skip button{background-position:-134px -112px;border:0 none;cursor:pointer;height:19px;margin:0 0 0 5px;overflow:hidden;text-indent:-999px;width:37px}