#slidercontain{
	width: 758px;
	clear: both;
	overflow: hidden;
	height:181px;
	z-index:3;
}
#slider {
	width: 758px;
	position: relative;
	clear: both;
	overflow: hidden;
	border: 1px solid #dddddd;
}
#slider ul, #slider li,
#slider2 ul, #slider2 li{
	margin:0;
	padding:0;
	list-style:none;
}
#slider2{margin-top:1em;}
#slider li, #slider2 li{ 
	width:758px;
	height:181px;
	overflow:hidden; 
}	
#prevBtn, #nextBtn,
#slider1next, #slider1prev{ 
	display:block;
	width:30px;
	height:77px;
	position:absolute;
	left:-30px;
	top:71px;
	z-index:1000;
}	
#nextBtn, #slider1next{ 
	left:758px;
}														
#prevBtn a, #nextBtn a,
#slider1next a, #slider1prev a{  
	display:block;
	position:relative;
	width:30px;
	height:77px;
	background:url(../images/btn_prev.gif) no-repeat 0 0;	
	}	
#nextBtn a, #slider1next a{ 
	background:url(../images/btn_next.gif) no-repeat 0 0;	
}	
	
/* numeric controls */	
#slidercontain ol#controls{
	top:-30px;
	padding:0;
	height:20px;
	float:right;
	margin:2px 0px;
	position: relative;
	right: 10px;
	z-index:5;
}
#slidercontain ol#controls li{
	margin:0 3px 0 0; 
	padding:0;
	float:left;
	list-style:none;
	height:20px;
	line-height:20px;
}
#slidercontain ol#controls li a{
	float:left;
	height:20px;
	line-height:20px;
	border:1px solid #ED6F1A;
	background:#FFF;
	color:#000;
	padding:0 6px;
	text-decoration:none;
}
#slidercontain ol#controls li.current a{
		background:#ED6F1A;
		color:#fff;
		font-weight: bold;
}
#slidercontain ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}