
/* Tables
---------------------------------------------------------------------*/
table.stylized {
    border-collapse:collapse;
    position:relative;
    margin-top:1em;
    margin-bottom:1em;
}
table.stylized td {
    padding:8px 12px;
}
table.stylized th {
	padding:8px 12px;
	padding-left: 5px;
	font-family: "宋体", Arial;
	text-align: left;
	background: url(../images/list_x_bg.gif) 0px -30px repeat-x;
}
table.stylized tr.high {
    background-color:#ffa !important;
}
table.stylized tbody th,table.stylized tbody td,table.stylized tfoot th,table.stylized tfoot td {
    border-bottom:solid 1px #eee;
}
table.stylized tfoot td {
    background-color:#f2f2f2 !important;
    border-bottom:2px solid #ddd;
}
table.stylized tr:nth-child(even) td {
}
table.stylized tbody tr:nth-child(odd) th,table.stylized tbody tr:nth-child(odd) td {
    background:#ddffdd;
}
table.stylized caption {
    margin-bottom:1em;
    text-align:left;
    font-size:11px;
    text-transform:uppercase;
}
table.no-style th,table.no-style td {
    line-height:18px;
    padding:4px 8px 4px 0;
}
table.no-style td,table.no-style th {
    background:none !important;
    color:#666;
    border-bottom:0 none;
    border-bottom:1px dotted #ddd !important;
}
table.no-style caption {
    margin-bottom:0;
    text-align: left;
}
/* flot TD */
td.legendLabel {
    font-size:11px;
    padding:0 4px;
    vertical-align: middle;
}

/* Datatables
---------------------------------------------------------------------*/
.dataTables_wrapper {
    position: relative;
    margin:1em 0;
    min-height: 100px;
    clear: both;
}

.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;
}

.dataTables_length {
    width: 40%;
    float: left;
    clear:both;
}

.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
}

.dataTables_info {
    width: 60%;
    float: left;
    clear:both;
}

.dataTables_paginate {
    float: right;
    text-align: right;
    cursor: pointer;
    clear:both;
    padding-top:15px;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
    height: 19px;
    width: 19px;
    margin-left: 1px;
    float: left;
}

.paginate_disabled_previous {
    background-image: url('../img/datatable/back_disabled.png');
}

.paginate_enabled_previous {
    background-image: url('../img/datatable/back_enabled.png');
}

.paginate_disabled_next {
    background-image: url('../img/datatable/forward_disabled.png');
}

.paginate_enabled_next {
    background-image: url('../img/datatable/forward_enabled.png');
}

.tab-footer {
	width: auto;
	padding-bottom: 10px;
	margin-top: -10px;
	padding-left:10px;
}

//http://www.ait.sk/terminator/tables.html
.dataTables_wrapper .dataTables_paginate 			{ float: right;  font-size: 11px; line-height: 20px; margin-top: 0px; padding-bottom: 10px; padding-right: 10px;}
.dataTables_wrapper .dataTables_paginate span			{ display: block; float: left; }
.dataTables_wrapper .dataTables_paginate .nav a			{ width: 22px; height: 22px; }
.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_active	{ cursor: pointer; width: 20px;line-height: 20px; background: url('../images/button_glas2.png') center center repeat-x #eeeeee; text-align: center; color: #333333; font-weight: bold; text-decoration: none; margin: 0px 1px 0px 1px; border: 1px solid #dddddd; border-bottom: 1px solid #cccccc; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; }
.dataTables_wrapper .dataTables_paginate .paginate_button:hover	{ background-color: #FFFFFF; color: #00A5C4; text-decoration: none; }
.dataTables_wrapper .dataTables_paginate .paginate_active	{ background: url('../images/button_glas1.png') center center repeat-x #333333; border-width: 0px; line-height: 22px; width: 22px; color: #FFFFFF; text-decoration: none; font-weight: bold; width: 22px !important; }

.dataTables_wrapper .dataTables_paginate .first			{ background: url('../images/arrow_leftend_off.png') center center no-repeat !important; margin: 0px 0px 0px 0px; text-indent: -9999px; border-right-width: 0px; -moz-border-radius: 3px 0px 0px 3px; -webkit-border-radius: 3px 0px 0px 3px; border-radius: 3px 0px 0px 3px;}
.dataTables_wrapper .dataTables_paginate .first:hover		{ background: url('../images/arrow_leftend_ovr.png') center center no-repeat !important; text-indent: -9999px; }
.dataTables_wrapper .dataTables_paginate .previous		{ background: url('../images/arrow_left_off.png') center center no-repeat !important; margin: 0px 4px 0px 0px; text-indent: -9999px; border-left-width: 0px; -moz-border-radius: 0px 3px 3px 0px; -webkit-border-radius: 0px 3px 3px 0px; border-radius: 0px 3px 3px 0px;}
.dataTables_wrapper .dataTables_paginate .previous:hover	{ background: url('../images/arrow_left_ovr.png') center center no-repeat !important; text-indent: -9999px; }
.dataTables_wrapper .dataTables_paginate .last			{ background: url('../images/arrow_rightend_off.png') center center no-repeat !important; margin: 0px 0px 0px 0px; text-indent: -9999px; border-left-width: 0px; -moz-border-radius: 0px 3px 3px 0px; -webkit-border-radius: 0px 3px 3px 0px; border-radius: 0px 3px 3px 0px;}
.dataTables_wrapper .dataTables_paginate .last:hover		{ background: url('../images/arrow_rightend_ovr.png') center center no-repeat !important; text-indent: -9999px; }
.dataTables_wrapper .dataTables_paginate .next			{ background: url('../images/arrow_right_off.png') center center no-repeat !important; margin: 0px 0px 0px 4px; text-indent: -9999px; border-right-width: 0px; -moz-border-radius: 3px 0px 0px 3px; -webkit-border-radius: 3px 0px 0px 3px; border-radius: 3px 0px 0px 3px;}
.dataTables_wrapper .dataTables_paginate .next:hover		{ background: url('../images/arrow_right_ovr.png') center center no-repeat!important ; text-indent: -9999px; }

table.display {
    margin: 4px auto;
    width: 100%;
    clear: both;
}

table.display thead th {
    cursor: pointer;
}

table.display tfoot th {
    padding: 3px 10px;
}

table.display tr.heading2 td {
    border-bottom: 1px solid #aaa;
}

table.display td {
    color: #666666;
	word-break: break-all;
	border-bottom: 1px solid #f0f0f0;
}

table.display td.center {
    text-align: center;
}

.sorting_asc {
    background: url('../img/datatable/sort_asc.png') no-repeat center right;
}

.sorting_desc {
    background: url('../img/datatable/sort_desc.png') no-repeat center right;
}

.sorting {
    background: url('../img/datatable/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
    background: url('../img/datatable/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
    background: url('../img/datatable/sort_desc_disabled.png') no-repeat center right;
}

/*table.display tr.odd.gradeA {
    background-color: #ddffdd;
}

table.display tr.even.gradeA {
    background-color: #eeffee;
}*/

table.display tr:hover {
	background-color: #ffffd4
}

/* Sorting classes for columns */
/* For the standard odd/even */
/*
tr.odd td.sorting_1 {
    background-color: #D3D6FF;
}

tr.odd td.sorting_2 {
    background-color: #DADCFF;
}

tr.odd td.sorting_3 {
    background-color: #E0E2FF;
}

tr.even td.sorting_1 {
    background-color: #EAEBFF;
}

tr.even td.sorting_2 {
    background-color: #F2F3FF;
}

tr.even td.sorting_3 {
    background-color: #F9F9FF;
}
*/
/* For the Conditional-CSS grading rows */
/*
    Colour calculations (based off the main row colours)
  Level 1:
        dd > c4
        ee > d5
    Level 2:
      dd > d1
      ee > e2
 */
 /*
tr.odd.gradeA td.sorting_1 {
    background-color: #c4ffc4;
}

tr.odd.gradeA td.sorting_2 {
    background-color: #d1ffd1;
}

tr.odd.gradeA td.sorting_3 {
    background-color: #d1ffd1;
}

tr.even.gradeA td.sorting_1 {
    background-color: #d5ffd5;
}

tr.even.gradeA td.sorting_2 {
    background-color: #e2ffe2;
}

tr.even.gradeA td.sorting_3 {
    background-color: #e2ffe2;
}

tr.odd.gradeC td.sorting_1 {
    background-color: #c4c4ff;
}

tr.odd.gradeC td.sorting_2 {
    background-color: #d1d1ff;
}

tr.odd.gradeC td.sorting_3 {
    background-color: #d1d1ff;
}

tr.even.gradeC td.sorting_1 {
    background-color: #d5d5ff;
}

tr.even.gradeC td.sorting_2 {
    background-color: #e2e2ff;
}

tr.even.gradeC td.sorting_3 {
    background-color: #e2e2ff;
}

tr.odd.gradeX td.sorting_1 {
    background-color: #ffc4c4;
}

tr.odd.gradeX td.sorting_2 {
    background-color: #ffd1d1;
}

tr.odd.gradeX td.sorting_3 {
    background-color: #ffd1d1;
}

tr.even.gradeX td.sorting_1 {
    background-color: #ffd5d5;
}

tr.even.gradeX td.sorting_2 {
    background-color: #ffe2e2;
}

tr.even.gradeX td.sorting_3 {
    background-color: #ffe2e2;
}

tr.odd.gradeU td.sorting_1 {
    background-color: #c4c4c4;
}

tr.odd.gradeU td.sorting_2 {
    background-color: #d1d1d1;
}

tr.odd.gradeU td.sorting_3 {
    background-color: #d1d1d1;
}

tr.even.gradeU td.sorting_1 {
    background-color: #d5d5d5;
}

tr.even.gradeU td.sorting_2 {
    background-color: #e2e2e2;
}

tr.even.gradeU td.sorting_3 {
    background-color: #e2e2e2;
}*/

table.stylized td.highlighted {
    background-color: #E2EFFF !important;
}

table.stylized td.title > div {
    position:relative;
    display:block;
    background:url("../img/toggle-small-expand.png") 0 2px no-repeat;
    padding:0 0 0 16px;
}

table.stylized td.title div.listingDetails {
    background-color:#FFF;
    border-color:#E2EFFF;
    border-style:solid;
    border-width:1px 1px 3px;
    left:-12px;
    position:absolute;
    text-align:left;
    top:26px;
    display:none;
    -moz-box-shadow:0 0 8px rgba(82, 168, 236, 0.5);
    -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}
table.stylized td.title div.listingDetails div.pad{
    padding:8px 10px;
}