<?xml version="1.0" encoding="UTF-8"?>
<root>
	<gobal>
		<table_name>TB_PARAM_ITEM</table_name>
		<default_package>com.eh.shop.admin</default_package><!-- 默认包路径 -->
		<entity_package>com.eh.shop.entity</entity_package><!-- entity存放路径 -->
		<hbm_file_path>config.hibernate.shop</hbm_file_path><!-- hbm存放路径 -->
		<module_name_en>goodsRemark</module_name_en><!-- 模块名称，全部都要英文,首字母小写 -->
		<module_name_chn>客户评论</module_name_chn><!-- 模块名称 -->
		<jsp_file_path>/jsp/shop/admin/goods_remark/</jsp_file_path>
		<url>goodsRemark.xhtml</url>
	</gobal>

	<columns>
    <column pk="true" columnName="item_id" javaType="Long" typeName="INT" isNullAble="false" columnSize="10" remark="序列号" datasize="10" digits="0" isList="YES" isQry="NO" paramKey="" />
    <column pk="false" columnName="kind_code" javaType="String" typeName="VARCHAR" isNullAble="true" columnSize="30" remark="类别编码" datasize="30" digits="0" isList="YES" isQry="NO" paramKey="" />
    <column pk="false" columnName="item_code" javaType="String" typeName="VARCHAR" isNullAble="true" columnSize="10" remark="指标编码" datasize="10" digits="0" isList="YES" isQry="NO" paramKey="" />
    <column pk="false" columnName="item_name" javaType="String" typeName="VARCHAR" isNullAble="true" columnSize="500" remark="指标名称" datasize="500" digits="0" isList="YES" isQry="NO" paramKey="" />
    <column pk="false" columnName="order_num" javaType="Long" typeName="INT" isNullAble="true" columnSize="10" remark="排序号" datasize="10" digits="0" isList="YES" isQry="NO" paramKey="" />
    <column pk="false" columnName="data_status" javaType="Long" typeName="INT" isNullAble="true" columnSize="10" remark="数据状态 0不可以用  1可用" datasize="10" digits="0" isList="YES" isQry="NO" paramKey="" />
  </columns>
</root>