<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="loginLogic" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.eh.base.common.logic.impl.LoginLogicImpl">
				<property name="baseDao">
					<ref bean="baseDao" />
				</property>
				<property name="baseJdbc">
					<ref bean="baseJdbc" />
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="commonLogic" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.eh.base.common.logic.impl.CommonLogicImpl">
				<property name="baseDao">
					<ref bean="baseDao" />
				</property>
			</bean>
		</property>
	</bean>
</beans>