body{
	margin: 1px;
	SCROLLBAR-FACE-COLOR: #fcfcfc;
	SCROLLBAR-HIGHLIGHT-COLOR: #99bbe8;
	SCROLLBAR-SHADOW-COLOR: #99bbe8;
	SCROLLBAR-3DLIGHT-COLOR: #fcfcfc;
	SCROLLBAR-ARROW-COLOR: #240024;
	SCROLLBAR-TRACK-COLOR: #99bbe8;
	SCROLLBAR-DARKSHADOW-COLOR: #48486c;
	SCROLLBAR-BASE-COLOR: #99bbe8;
	font-family: "宋体";
    font-size: 12px;
    TEXT-ALIGN: left;
    background-color: #fff;
}
.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('../images/btn/info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('../images/btn/success.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('../images/btn/warning.png');
}
.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('../images/btn/error.png');
}

A:active
{
    FONT-SIZE: 9pt;
    COLOR: #ff3300;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none;
    cursor:hand
}
A:hover
{
    FONT-SIZE: 9pt;
    COLOR: #ff8000;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none;
    cursor:hand
}
A:link
{
    FONT-SIZE: 9pt;
    COLOR: #6633ff;
    FONT-FAMILY: "宋体";
    TEXT-DECORATION: none;
    cursor:hand
}

td{
	font-family: "宋体";
	font-size: 12px;
	vertical-align: bottom;
	text-align:left;
}

table.ext{
    border:1px solid #99bbe8;
    padding:0;
    margin:0;
    font-family: "宋体";
	font-size: 12px;
    padding-top:6px;
    background:#dfe8f6;   
    border-collapse:collapse;
}

td.body-l {
	color:#000000;
	padding:5px 3px 4px 5px;
	line-height: 15px;
	font-family: "宋体";
	font-size: 12px;
	border:1px solid #99bbe8;
	font-weight: normal;
	background-color: #FFFFFF;
	border-collapse:collapse;
	text-align:left;
}

td.body-c {
	color:#000000;
	padding:5px 3px 4px 5px;
	line-height: 15px;
	font-family: "宋体";
	font-size: 12px;
	border:1px solid #99bbe8;
	font-weight: normal;
	background-color: #FFFFFF;
	border-collapse:collapse;
	text-align:center;
}

td.body-r {
	color:#000000;
	padding:5px 3px 4px 5px;
	line-height: 15px;
	font-family: "宋体";
	font-size: 12px;
	border:1px solid #99bbe8;
	font-weight: normal;
	background-color: #FFFFFF;
	border-collapse:collapse;
	text-align:right;
}

th.header-l {
	color:#15428b;
	font:bold 11px tahoma,arial,verdana,sans-serif;
	padding:5px 3px 4px 5px;
	line-height: 15px;
	background: transparent url(../images/ext/white-top-bottom.gif) repeat-x 0 -1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #99bbe8;
	border:1px solid #99bbe8;
	border-collapse:collapse;
	text-align:left;
	padding-left:10px;
}

th.header-c {
	color:#15428b;
	font:bold 11px tahoma,arial,verdana,sans-serif;
	padding:5px 3px 4px 5px;
	line-height: 15px;
	background: transparent url(../images/ext/white-top-bottom.gif) repeat-x 0 -1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #99bbe8;
	border:1px solid #99bbe8;
	border-collapse:collapse;
	text-align:center;
}

th.header-r {
	color:#15428b;
	font:bold 11px tahoma,arial,verdana,sans-serif;
	padding:5px 3px 4px 5px;
	line-height: 15px;
	background: transparent url(../images/ext/white-top-bottom.gif) repeat-x 0 -1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #99bbe8;
	border:1px solid #99bbe8;
	border-collapse:collapse;
	text-align:right;
}

div#page{
	height:20px;
}

div#query{
	padding-top:5px;
	padding-bottom:5px;
}
	
div#nav{
	color:#15428b;
	font:bold 11px tahoma,arial,verdana,sans-serif;
	padding:5px 3px 4px 5px;
	line-height: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #99bbe8;
	border:1px solid #99bbe8;
	border-collapse:collapse;
	text-align:left;
	background:#dfe8f6; 
}

.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}
/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

.textbox {
border:1px solid #CCCCCC;
color:#000000;
font-size:9pt;
}

.dateSelectBtn {
    background-image: url(../images/bt_selDate.gif);
    height: 20px;
    width: 27px;    
    background-repeat: no-repeat;
}

.viewSelectBtn {
    background-image: url(../images/btn/view.png);
    height: 16px;
    width: 16px;    
    background-repeat: no-repeat;
}

.editSelectBtn {
    background-image: url(../images/btn/edit.png);
    height: 16px;
    width: 16px;    
    background-repeat: no-repeat;
}

.button {
background-image:url("../images/button_bg.jpg");
border:1px solid #CCCCCC;
color:#000000;
font-size:9pt;
}
.black-15pt {
color:#333333;
font-family:"宋体";
font-size:15pt;
font-style:italic;
font-weight:bold;
line-height:120%;
text-decoration:none;
}

button {
    border-right: #7b9ebd 1px solid;
    padding-right: 5px;
    border-top: #7b9ebd 1px solid;
    padding-left: 5px;
    font-size: 12px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,  StartColorStr=#ffffff,  EndColorStr=#cecfde);
    border-left: #7b9ebd 1px solid;
    cursor: hand;
    color: black;
    padding-top: 2px;
    border-bottom: #7b9ebd 1px solid;
}
button:hover {
    border-right: #2C59AA 1px solid;
    padding-right: 5px;
    border-top: #2C59AA 1px solid;
    padding-left: 5px;
    font-size: 12px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,  StartColorStr=#ffffff,  EndColorStr=RED);
    border-left: #2C59AA 1px solid;
    cursor: hand;
    color: black;
    padding-top: 2px;
    border-bottom: #2C59AA 1px solid;
}
input.ro{
    background-color: #CCCCCC;
}

.loadmask {
    z-index: 100;
    position: absolute;
    top:0;
    left:0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    background-color: #CCC;
    width: 100%;
    height: 100%;
    zoom: 1;
}
.loadmask-msg {
    z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
    border:1px solid #6593cf;
    background: #c3daf9;
    padding:2px;
}
.loadmask-msg div {
    padding:5px 10px 5px 25px;
    background: #fbfbfb url('../images/loading.gif') no-repeat 5px 5px;
    line-height: 16px;
	border:1px solid #a3bad9;
    color:#222;
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    cursor:wait;
}
.masked {
    overflow: hidden !important;
}
.masked-relative {
    position: relative !important;
}
.masked-hidden {
    visibility: hidden !important;
}